<div class="preloader"  *ngIf="isPageloaderVisible">
  <div class="spinner" >
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
  </div>
</div>

  <div class="row">
      <div class="col-md-12">
    <ul id="breadcrumb" >
      <li><a class="nav-link"  routerLink='/dashboard' ><span class="fa fa-fw fa-home"> </span></a></li>
      <li class="ltr"><a class="nav-link"   routerLink='/usercreate'><span class="fa fa-fw fa-user"> </span>User Creation</a></li>
      <li class="rtl"><a class="nav-link"  routerLink='/usercreate'><span>إنشاء مستخدم</span><span class="fa fa-fw fa-user"></span></a></li>
    </ul>
  </div>
</div>

<div class="row">
<div class="col">
  <div class="card">
    <form [formGroup]="viewuser">
      <div class="card-body">
        <ngb-tabset >
          <!-- ..................first tab ........................................................... -->
          <!-- <ngb-tab class="eachTabPane ltr" title="Basic Information 1" id="basic1" > -->
              <ngb-tab class="eachTabPane ltr" id="basic1" >
              <ng-template ngbTabTitle ><b class="ltr">Basic Information 1</b>
                <b class="rtl">المعلومات الأساسية 1</b>
              </ng-template>
              <ng-template ngbTabContent><br>
                <div class="row">
                  <div class="col">
                      <div class="container">
                          <table class="table table-hover table-bordered" cellspacing="2">
                            <thead class="headrow">
                              <th class="ltr">Personal Details</th>
                              <th class="rtl">تفاصيل شخصية</th>
                              </thead>
                              <tbody>
                                <tr padding><h4 class="ltr"> Title:&nbsp;&nbsp;<span class="spancls">{{tinput}}</span></h4> </tr>
                                <tr><h4 class="ltr">First Name: &nbsp;&nbsp;<span class="spancls">{{Englishinput}}</span></h4> </tr>
                                <tr><h4 class="ltr"> Middle Name:&nbsp;&nbsp;<span class="spancls"> {{Englishinput1}}</span></h4></tr>
                                <tr><h4 class="ltr"> Last Name:&nbsp;&nbsp;<span class="spancls"> {{Englishinput2}}</span></h4></tr>
                                <tr><h4 class="ltr">Arabic First Name:&nbsp;&nbsp;<span class="spancls"> {{titleinput}}</span></h4></tr>
                                <tr><h4 class="ltr">Arabic Father Name:&nbsp;&nbsp;<span class="spancls"> {{tinput1}}</span></h4></tr>
                                <tr><h4 class="ltr">Arabic Last Name:&nbsp;&nbsp;<span class="spancls"> {{titleinput2}}</span></h4></tr>
                                <tr><h4 class="ltr">Gender:&nbsp;&nbsp;<span class="spancls"> {{genderinput}}</span></h4></tr>
                                <tr><h4 class="ltr">Document Type:&nbsp;&nbsp;<span class="spancls"> {{docinput}}</span></h4></tr>
                                <tr><h4 class="ltr">Doc Number:&nbsp;&nbsp;<span class="spancls"> {{docnoinput}}</span></h4></tr>
                                <tr><h4 class="ltr">Department:&nbsp;&nbsp;<span class="spancls"> {{departmentinput}}</span></h4></tr>
                                <tr><h4 class="ltr">Profession of Residence:&nbsp;&nbsp;<span class="spancls"> {{professionofres}}</span></h4></tr>
                                <tr><h4 class="ltr">Job Title:&nbsp;&nbsp;<span class="spancls"> {{jobinput}}</span></h4></tr>

                                <tr><h4 class="rtl"> عنوان:&nbsp;&nbsp;<span class="spancls">{{tinput}}</span></h4></tr>
                                <tr><h4 class="rtl">الاسم الاول: &nbsp;&nbsp;<span class="spancls">{{Englishinput}}</span></h4> </tr>
                                <tr><h4 class="rtl">الاسم الوسطى:&nbsp;&nbsp;<span class="spancls"> {{Englishinput1}}</span></h4></tr>
                                <tr><h4 class="rtl"> الاسم الوسطى:&nbsp;&nbsp;<span class="spancls"> {{Englishinput2}}</span></h4></tr>
                                <tr><h4 class="rtl">الاسم الأول باللغة العربية:&nbsp;&nbsp;<span class="spancls"> {{titleinput}}</span></h4></tr>
                                <tr><h4 class="rtl">اسم الأب العربي:&nbsp;&nbsp;<span class="spancls"> {{tinput1}}</span></h4></tr>
                                <tr><h4 class="rtl">اسم العائلة العربية:&nbsp;&nbsp;<span class="spancls"> {{titleinput2}}</span></h4></tr>
                                <tr><h4 class="rtl">جنس:&nbsp;&nbsp;<span class="spancls"> {{genderinput}}</span></h4></tr>
                                <tr><h4 class="rtl">نوع الوثيقة:&nbsp;&nbsp;<span class="spancls"> {{docinput}}</span></h4></tr>
                                <tr><h4 class="rtl">رقم الوثيقة:&nbsp;&nbsp;<span class="spancls"> {{docnoinput}}</span></h4></tr>
                                <tr><h4 class="rtl"> قسم، أقسام:&nbsp;&nbsp;<span class="spancls"> {{departmentinput}}</span></h4></tr>
                                <tr><h4 class="rtl">مهنة الإقامة:&nbsp;&nbsp;<span class="spancls"> {{professionofres}}</span></h4></tr>
                                <tr><h4 class="rtl">عنوان وظيفي:&nbsp;&nbsp;<span class="spancls"> {{jobinput}}</span></h4></tr>
                              </tbody>
                              </table>
                              </div>
                  </div>
                  <div class="col">
                      <div class="container">
                          <table class="table table-hover table-bordered" cellspacing="2">
                            <thead class="headrow">
                              <th class="ltr">Login Details</th>
                <th class="rtl">تفاصيل تسجيل الدخول</th>
                              </thead>
                              <tbody>
                                  <tr><h4 class="ltr">Employee ID:&nbsp;&nbsp;<span class="spancls"> {{empid}}</span></h4></tr>
                                  <tr><h4 class="ltr">Password:&nbsp;&nbsp;<span class="spancls"> {{password}}</span></h4></tr>
            
                 <tr><h4 class="rtl">هوية الموظف:&nbsp;&nbsp;<span class="spancls"> {{empid}}</span></h4></tr>
                                  <tr><h4 class="rtl">كلمه السر:&nbsp;&nbsp;<span class="spancls"> {{password}}</span></h4></tr>
                              </tbody>
                              <thead class="headrow">
                                  <th class="ltr">Sponser Details</th>
                <th class="rtl">تفاصيل الراعي</th>
                                  </thead>
                                  <tbody>
                                      <tr><h4 class="ltr">Sponser Name:&nbsp;&nbsp;<span class="spancls"> {{sponserinput}}</span></h4></tr>
                                      <tr><h4 class="ltr">Reporting To:&nbsp;&nbsp;<span class="spancls"> {{reportinginput}}</span></h4></tr>
                                      <tr><h4 class="ltr">Hierarchy:&nbsp;&nbsp;<span class="spancls"> {{hierachyinput}}</span></h4></tr>
                                      <tr><h4 class="ltr">Hire Date:&nbsp;&nbsp;<span class="spancls"> {{hireinput}}</span></h4></tr>
                                      <tr><h4 class="ltr">Start Date:&nbsp;&nbsp;<span class="spancls"> {{Startdateinput}}</span></h4></tr>
                                      <tr><h4 class="ltr">mobile No:&nbsp;&nbsp;<span class="spancls"> {{mobileinput}}</span></h4></tr>
                                      <tr><h4 class="ltr">Home Phone No:&nbsp;&nbsp;<span class="spancls"> {{homephoneinput}}</span></h4></tr>
                                      <tr><h4 class="ltr">Salary:&nbsp;&nbsp;<span class="spancls"> {{salaryinput}}</span></h4></tr>
                                      <tr><h4 class="ltr">Status:&nbsp;&nbsp;<span class="spancls"> {{Statusinput}}</span></h4></tr>
                                      <tr><h4 class="ltr">Clinic Timings:&nbsp;&nbsp;<span class="spancls"> {{scheduletypeinput}}</span></h4></tr>
              
                    <tr><h4 class="rtl">اسم الراعي:&nbsp;&nbsp;<span class="spancls"> {{sponserinput}}</span></h4></tr>
                                      <tr><h4 class="rtl">تقديم التقارير إلى:&nbsp;&nbsp;<span class="spancls"> {{reportinginput}}</span></h4></tr>
                                      <tr><h4 class="rtl">التسلسل الهرمي:&nbsp;&nbsp;<span class="spancls"> {{hierachyinput}}</span></h4></tr>
                                      <tr><h4 class="rtl">موعد التوظيف:&nbsp;&nbsp;<span class="spancls"> {{hireinput}}</span></h4></tr>
                                      <tr><h4 class="rtl">تاريخ البدء:&nbsp;&nbsp;<span class="spancls"> {{Startdateinput}}</span></h4></tr>
                                      <tr><h4 class="rtl">رقم الموبايل:&nbsp;&nbsp;<span class="spancls"> {{mobileinput}}</span></h4></tr>
                                      <tr><h4 class="rtl">رقم هاتف المنزل:&nbsp;&nbsp;<span class="spancls"> {{homephoneinput}}</span></h4></tr>
                                      <tr><h4 class="rtl">راتب:&nbsp;&nbsp;<span class="spancls"> {{salaryinput}}</span></h4></tr>
                                      <tr><h4 class="rtl">الحالة:&nbsp;&nbsp;<span class="spancls"> {{Statusinput}}</span></h4></tr>
                                      <tr><h4 class="rtl">توقيت العيادة:&nbsp;&nbsp;<span class="spancls"> {{scheduletypeinput}}</span></h4></tr>
                                  </tbody>
                              </table>
                              </div>
                  </div>
                </div><br>
                <div class="form-group"  (change)="selectwise($event.target.value)">
                <div class="row">
                  <div class="switch-field ltr">
                      <input type="radio" formControlName="scheduletypeinput" id="Day Wise" value="Day Wise" />
                      <label for="Day Wise">Day Wise</label>
                      <input type="radio" formControlName="scheduletypeinput" id="Session Wise"  value="Session Wise" />
                      <label for="Session Wise">Session Wise</label>
                    </div>
                    <div class="switch-field rtl">
                        <input type="radio"  formControlName="scheduletypeinput" id="Day Wise"  value="Day Wise" />
                        <label for="Day Wise">يوم يوم</label>
                        <input type="radio"  formControlName="scheduletypeinput" id="Session Wise"  value="Session Wise" />
                        <label for="Session Wise">محدد بالفترة</label>
                      </div>
            </div>
          </div>

                <div class="row" *ngIf="timingsdaysif">
                    <div class="container">
                        <table class="table table-hover table-bordered" cellspacing="2">
                          <thead class="headrow">
                            <th class="ltr">Sno</th>
                            <th class="ltr">Days</th>
                            <th class="ltr">Session1 Start</th>
                            <th class="ltr">Session1 End</th>
           
                             <th class="rtl">سنو</th>
                            <th class="rtl">أيام</th>
                            <th class="rtl">الجلسة الأولى</th>
                            <th class="rtl">الجلسة الأولى</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of daywisearray;let i=index">
                                  <td>{{i+1}}</td>
                                  <td>{{item.Days}}</td>
                                  <td>{{item.s1_starttime}}&nbsp;{{item.s1_starttimeformat}}</td>
                                  <td>{{item.s1_endtime}}&nbsp;{{item.s1_endtimeformat}}</td> 
                                  </tr>
                            </tbody>
                            </table>
                            </div>
                </div>
                <div class="row" *ngIf="timingsif">
                    <div class="container">
                        <table class="table table-hover table-bordered" cellspacing="2">
                          <thead class="headrow">
                            <th class="ltr">Sno</th>
                            <th class="ltr">Days</th>
                            <th class="ltr">Session1 Start</th>
                            <th class="ltr">Session1 End</th>
                            <th class="ltr">Session2 Start</th>
                            <th class="ltr">Session2 End</th>
 
                <th class="rtl">سنو</th>
                            <th class="rtl">أيام</th>
                            <th class="rtl">الجلسة الأولى</th>
                            <th class="rtl">الجلسة الأولى</th>
                            <th class="rtl">الجلسة الثانية</th>
                            <th class="rtl">الجلسة الثانية</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of sessionwisearray;let i=index">
                                  <td>{{i+1}}</td>
                                  <td>{{item.Days}}</td>
                                  <td>{{item.s1_starttime}}&nbsp;{{item.s1_starttimeformat}}</td>
                                  <td>{{item.s1_endtime}}&nbsp;{{item.s1_endtimeformat}}</td> 
                                  <td>{{item.s2_starttime}}&nbsp;{{item.s2_starttimeformat}}</td>
                                  <td>{{item.s2_endtime}}&nbsp;{{item.s2_endtimeformat}}</td>
                                </tr>
                            </tbody>
                            </table>
                            </div>
                </div>
                
                
               
              </ng-template>
              </ngb-tab>
              <!-- ......................second tab............. -->
              <ngb-tab class="eachTabPane" id="basic2" >
                <ng-template ngbTabTitle><b class="ltr">Basic Information 2</b>
                  <b class="rtl">المعلومات الأساسية 2</b>
                </ng-template>
                <ng-template ngbTabContent>
                    <div class="row">
                        <div class="container">
                            <table class="table table-hover table-bordered" cellspacing="2">
                              <thead class="headrow">
                                <th class="ltr">Labour Details</th>
                 <th class="rtl">تفاصيل العمل</th>
                                </thead>
                                <tbody>
                                  <tr padding><h4 class="ltr"> Labour Office Number:&nbsp;&nbsp;<span class="spancls">{{laborofficeinput}}</span></h4></tr>
                                  <tr><h4 class="ltr">Date of Birth: &nbsp;&nbsp;<span class="spancls">{{dateofbirthinput}}</span></h4> </tr>
                                  <tr><h4 class="ltr">Place of Birth:&nbsp;&nbsp;<span class="spancls"> {{placeofbirthinput}}</span></h4></tr>
                                  <tr><h4 class="ltr">Religion:&nbsp;&nbsp;<span class="spancls"> {{religioninput}}</span></h4></tr>
                                  <tr><h4 class="ltr">Nationality:&nbsp;&nbsp;<span class="spancls"> {{nationinput}}</span></h4></tr>
                                  <tr><h4 class="ltr">Marital Status:&nbsp;&nbsp;<span class="spancls"> {{maritalinput}}</span></h4></tr>
                                  <tr><h4 class="ltr">Email ID:&nbsp;&nbsp;<span class="spancls"> {{emailidinput}}</span></h4></tr>
                                  <tr><h4 class="ltr">Job Type:&nbsp;&nbsp;<span class="spancls"> {{jobtypeinput}}</span></h4></tr>
                                  <tr><h4 class="ltr">Positions Level:&nbsp;&nbsp;<span class="spancls"> {{positionlevelinput}}</span></h4></tr>
                                  <tr><h4 class="ltr">Salary Payable Way:&nbsp;&nbsp;<span class="spancls"> {{salarypayableinput}}</span></h4></tr>
                                  <tr><h4 class="ltr">Banks Name:&nbsp;&nbsp;<span class="spancls"> {{banknameinput}}</span></h4></tr>
                                  <tr><h4 class="ltr">Branch Name:&nbsp;&nbsp;<span class="spancls"> {{branchnameinput}}</span></h4></tr>
                                  <tr><h4 class="ltr">Account Number:&nbsp;&nbsp;<span class="spancls"> {{accountnoinput}}</span></h4></tr>
               
                  <tr padding><h4 class="rtl"> رقم مكتب العمل:&nbsp;&nbsp;<span class="spancls">{{laborofficeinput}}</span></h4></tr>
                                  <tr><h4 class="rtl">تاريخ الولادة: &nbsp;&nbsp;<span class="spancls">{{dateofbirthinput}}</span></h4> </tr>
                                  <tr><h4 class="rtl">مكان الولادة:&nbsp;&nbsp;<span class="spancls"> {{placeofbirthinput}}</span></h4></tr>
                                  <tr><h4 class="rtl">دين:&nbsp;&nbsp;<span class="spancls"> {{religioninput}}</span></h4></tr>
                                  <tr><h4 class="rtl">جنسية:&nbsp;&nbsp;<span class="spancls"> {{nationinput}}</span></h4></tr>
                                  <tr><h4 class="rtl">الحالة الحالة الإجتماعية:&nbsp;&nbsp;<span class="spancls"> {{maritalinput}}</span></h4></tr>
                                  <tr><h4 class="rtl">عنوان الايميل:&nbsp;&nbsp;<span class="spancls"> {{emailidinput}}</span></h4></tr>
                                  <tr><h4 class="rtl">نوع الوظيفة:&nbsp;&nbsp;<span class="spancls"> {{jobtypeinput}}</span></h4></tr>
                                  <tr><h4 class="rtl">المناصب المستوى:&nbsp;&nbsp;<span class="spancls"> {{positionlevelinput}}</span></h4></tr>
                                  <tr><h4 class="rtl">طريقة دفع الراتب:&nbsp;&nbsp;<span class="spancls"> {{salarypayableinput}}</span></h4></tr>
                                  <tr><h4 class="rtl">اسم البنوك:&nbsp;&nbsp;<span class="spancls"> {{banknameinput}}</span></h4></tr>
                                  <tr><h4 class="rtl">اسم الفرع:&nbsp;&nbsp;<span class="spancls"> {{branchnameinput}}</span></h4></tr>
                                  <tr><h4 class="rtl">رقم حساب:&nbsp;&nbsp;<span class="spancls"> {{accountnoinput}}</span></h4></tr>
                                </tbody>
                                <thead class="headrow">
                                    <th class="ltr">Address Info</th>
                   <th class="rtl">معلومات العنوان</th>
                                    </thead>
                                    <tbody>
                                        <tr><h4 class="ltr">Area:&nbsp;&nbsp;<span class="spancls"> {{areainput}}</span></h4></tr>
                                        <tr><h4 class="ltr">Block:&nbsp;&nbsp;<span class="spancls"> {{blockinput}}</span></h4></tr>
                                        <tr><h4 class="ltr">Building:&nbsp;&nbsp;<span class="spancls"> {{buildinginput}}</span></h4></tr>
                                        <tr><h4 class="ltr">Street:&nbsp;&nbsp;<span class="spancls"> {{streetinput}}</span></h4></tr>
                                        <tr><h4 class="ltr">Floor:&nbsp;&nbsp;<span class="spancls"> {{floorinput}}</span></h4></tr>
                                        <tr><h4  class="ltr">City:&nbsp;&nbsp;<span class="spancls"> {{cityinput}}</span></h4></tr>
                                        <tr><h4 class="ltr">Country:&nbsp;&nbsp;<span class="spancls"> {{countryinput}}</span></h4></tr>
                   
                    
                       <tr><h4 class="rtl">منطقة:&nbsp;&nbsp;<span class="spancls"> {{areainput}}</span></h4></tr>
                                        <tr><h4 class="rtl">منع:&nbsp;&nbsp;<span class="spancls"> {{blockinput}}</span></h4></tr>
                                        <tr><h4 class="rtl">بناء:&nbsp;&nbsp;<span class="spancls"> {{buildinginput}}</span></h4></tr>
                                        <tr><h4 class="rtl">شارع:&nbsp;&nbsp;<span class="spancls"> {{streetinput}}</span></h4></tr>
                                        <tr><h4 class="rtl">أرضية:&nbsp;&nbsp;<span class="spancls"> {{floorinput}}</span></h4></tr>
                                        <tr><h4  class="rtl">مدينة:&nbsp;&nbsp;<span class="spancls"> {{cityinput}}</span></h4></tr>
                                        <tr><h4 class="rtl">بلد:&nbsp;&nbsp;<span class="spancls"> {{countryinput}}</span></h4></tr>
                                      </tbody>
                                </table>
                                </div>
                    </div>
                </ng-template>
                </ngb-tab>
                <!-- .............document tab.............. -->
                <ngb-tab class="eachTabPane" id="document">
                  <ng-template ngbTabTitle><b class="ltr">Documents</b>
                    <b class="rtl">مستندات</b></ng-template>
                  <ng-template ngbTabContent>
                      <div class="row">
                          <div class="container">
                              <table class="table table-hover table-bordered" cellspacing="2">
                                <thead class="headrow">
                                  <th class="ltr">Documents</th>
                 <th class="rtl">مستندات</th>
                                  </thead>
                                  <tbody>
                                    <tr padding><h4 class="ltr">Documents Type:&nbsp;&nbsp;<span class="spancls">{{documentypeinput}}</span></h4></tr>
                                    <tr><h4 class="ltr">Number: &nbsp;&nbsp;<span class="spancls">{{numberinput}}</span></h4> </tr>
                                    <tr><h4 class="ltr">Upload Document:&nbsp;&nbsp;<span class="spancls"><i class="mdi mdi-camera-off" style="color:black;font-size: 22px;"></i> {{uploaddocinput}}</span></h4></tr>
                                    <tr><h4 class="ltr">Date of Issue:&nbsp;&nbsp;<span class="spancls"> {{dateofissueinput}}</span></h4></tr>
                                    <tr><h4 class="ltr">Date Expiry:&nbsp;&nbsp;<span class="spancls"> {{expiredateinput}}</span></h4></tr>
                  
                
                  
                    <tr padding><h4 class="rtl">نوع المستندات:&nbsp;&nbsp;<span class="spancls">{{documentypeinput}}</span></h4></tr>
                                    <tr><h4 class="rtl">رقم: &nbsp;&nbsp;<span class="spancls">{{numberinput}}</span></h4> </tr>
                                    <tr><h4 class="rtl">تحميل المستند:&nbsp;&nbsp;<span class="spancls"><i class="mdi mdi-camera-off" style="color:black;font-size: 22px;"></i> {{uploaddocinput}}</span></h4></tr>
                                    <tr><h4 class="rtl">تاريخ المسألة:&nbsp;&nbsp;<span class="spancls"> {{dateofissueinput}}</span></h4></tr>
                                    <tr><h4 class="rtl">تاريخ انتهاء الصلاحية:&nbsp;&nbsp;<span class="spancls"> {{expiredateinput}}</span></h4></tr>
                                    </tbody>
                                  <thead class="headrow">
                                      <th class="ltr">Degree Information</th>
                   <th class="rtl">معلومات الدرجة</th>
                                      </thead>
                                      <tbody>
                                          <tr><h4 class="ltr">Type of Diploma:&nbsp;&nbsp;<span class="spancls"> {{degreeinput}}</span></h4></tr>
                                          <tr><h4 class="ltr">University:&nbsp;&nbsp;<span class="spancls"> {{universityinput}}</span></h4></tr>
                                          <tr><h4 class="ltr">GPA:&nbsp;&nbsp;<span class="spancls"> {{gpainput}}</span></h4></tr>
                                          <tr><h4 class="ltr">Date of Graduation:&nbsp;&nbsp;<span class="spancls"> {{dateofgraduationinput}}</span></h4></tr>
                                          <tr><h4 class="ltr">Degree Certificate:&nbsp;&nbsp;<span class="spancls"><i class="mdi mdi-camera-off" style="color:black;font-size: 22px;"></i> {{degreecertificateinput}}</span></h4></tr>
                 
                       <tr><h4 class="rtl">نوع الدبلوم:&nbsp;&nbsp;<span class="spancls"> {{degreeinput}}</span></h4></tr>
                                          <tr><h4 class="rtl">جامعة:&nbsp;&nbsp;<span class="spancls"> {{universityinput}}</span></h4></tr>
                                          <tr><h4 class="rtl">المعدل التراكمي:&nbsp;&nbsp;<span class="spancls"> {{gpainput}}</span></h4></tr>
                                          <tr><h4 class="rtl">تاريخ التخرج:&nbsp;&nbsp;<span class="spancls"> {{dateofgraduationinput}}</span></h4></tr>
                                          <tr><h4 class="rtl">درجة الشهادة:&nbsp;&nbsp;<span class="spancls"><i class="mdi mdi-camera-off" style="color:black;font-size: 22px;"></i> {{degreecertificateinput}}</span></h4></tr>
                    
                                       </tbody>
                                       <thead class="headrow">
                                          <th class="ltr">Training Courses</th>
                      <th class="rtl">دورات تدريبية</th>
                                          </thead>
                                          <tbody>
                                              <tr><h4 class="ltr">Name of Course:&nbsp;&nbsp;<span class="spancls"> {{nameofcourseinput}}</span></h4></tr>
                                              <tr><h4 class="ltr">Place of Issue:&nbsp;&nbsp;<span class="spancls"> {{placeofissueinput}}</span></h4></tr>
                                              <tr><h4 class="ltr">Start Date:&nbsp;&nbsp;<span class="spancls"> {{startdate_input}}</span></h4></tr>
                                              <tr><h4 class="ltr">End Date:&nbsp;&nbsp;<span class="spancls"> {{enddateinput}}</span></h4></tr>
                                              <tr><h4 class="ltr">Course Certificate:&nbsp;&nbsp;<span class="spancls"><i class="mdi mdi-camera-off" style="color:black;font-size: 22px;"></i> {{coursecertificateinput}}</span></h4></tr>
                      
                     
                        <tr><h4 class="rtl">اسم بالطبع:&nbsp;&nbsp;<span class="spancls"> {{nameofcourseinput}}</span></h4></tr>
                                              <tr><h4 class="rtl">مكان صدوره:&nbsp;&nbsp;<span class="spancls"> {{placeofissueinput}}</span></h4></tr>
                                              <tr><h4 class="rtl">تاريخ البدء:&nbsp;&nbsp;<span class="spancls"> {{startdate_input}}</span></h4></tr>
                                              <tr><h4 class="rtl">تاريخ الانتهاء:&nbsp;&nbsp;<span class="spancls"> {{enddateinput}}</span></h4></tr>
                                              <tr><h4 class="rtl">شهادة الدورة:&nbsp;&nbsp;<span class="spancls"><i class="mdi mdi-camera-off" style="color:black;font-size: 22px;"></i> {{coursecertificateinput}}</span></h4></tr>
                                           </tbody>
                                      </table>
                                  </div>
                      </div>
                  </ng-template>
                  </ngb-tab>
                  <!-- ........................health insurance tab............. -->
                  <ngb-tab class="eachTabPane" id="healthinsurance">
                    <ng-template ngbTabTitle><b class="ltr">Health Insurance / Social Security</b>
                      <b class="rtl">التأمين الصحي / الضمان الاجتماعي</b></ng-template>
                    <ng-template ngbTabContent>
                        <div class="row">
                            <div class="container">
                                <table class="table table-hover table-bordered" cellspacing="2">
                                  <thead class="headrow">
                                    <th class="ltr">Health Insurance / Social Security</th>
                   <th class="rtl">التأمين الصحي / الضمان الاجتماعي</th>
                                    </thead>
                                    <tbody>
                                      <tr padding><h4 class="ltr">Social Security Number:&nbsp;&nbsp;<span class="spancls">{{socialsecurityinput}}</span></h4></tr>
                                      <tr><h4 class="ltr">Date of Registration: &nbsp;&nbsp;<span class="spancls">{{dateofreginput}}</span></h4> </tr>
                                      <tr><h4 class="ltr">Place of Registration:&nbsp;&nbsp;<span class="spancls">{{placeofreginput}}</span></h4></tr>
                  
                 
                    <tr padding><h4 class="rtl">رقم الحماية الاجتماعية:&nbsp;&nbsp;<span class="spancls">{{socialsecurityinput}}</span></h4></tr>
                                      <tr><h4 class="rtl">تاريخ التسجيل: &nbsp;&nbsp;<span class="spancls">{{dateofreginput}}</span></h4> </tr>
                                      <tr><h4 class="rtl">مكان التسجيل:&nbsp;&nbsp;<span class="spancls">{{placeofreginput}}</span></h4></tr>
                                       </tbody>
                                    <thead class="headrow">
                                        <th class="ltr">Health Insurance</th>
                     <th class="rtl">تأمين صحي</th>
                                        </thead>
                                        <tbody>
                                            <tr><h4 class="ltr">Health Insurance:&nbsp;&nbsp;<span class="spancls"> {{healthinsuranceinput}}</span></h4></tr>
                                            <tr><h4 class="ltr">Health Insurance Company Name:&nbsp;&nbsp;<span class="spancls"> {{healthincompanyinput}}</span></h4></tr>
                                            <tr><h4 class="ltr">Issued Date:&nbsp;&nbsp;<span class="spancls"> {{issueddateinput}}</span></h4></tr>
                                            <tr><h4 class="ltr">Expiry Date:&nbsp;&nbsp;<span class="spancls"> {{expirydateinput}}</span></h4></tr>
                                            <tr><h4 class="ltr">Insurance Type:&nbsp;&nbsp;<span class="spancls">{{insurancetypeinput}}</span></h4></tr>
                                            <tr><h4 class="ltr">Insurance Number:&nbsp;&nbsp;<span class="spancls">{{insurancenoinput}}</span></h4></tr>
                                            <tr><h4 class="ltr">Insurance Copy:&nbsp;&nbsp;<span class="spancls"><i class="mdi mdi-camera-off" style="color:black;font-size: 22px;"></i> {{insurancecopyinput}}</span></h4></tr>
                      
                   
                       <tr><h4 class="rtl">تأمين صحي:&nbsp;&nbsp;<span class="spancls"> {{healthinsuranceinput}}</span></h4></tr>
                                            <tr><h4 class="rtl">اسم شركة التأمين الصحي:&nbsp;&nbsp;<span class="spancls"> {{healthincompanyinput}}</span></h4></tr>
                                            <tr><h4 class="rtl">تاريخ الإصدار:&nbsp;&nbsp;<span class="spancls"> {{issueddateinput}}</span></h4></tr>
                                            <tr><h4 class="rtl">تاريخ الانتهاء:&nbsp;&nbsp;<span class="spancls"> {{expirydateinput}}</span></h4></tr>
                                            <tr><h4 class="rtl">نوع التأمين:&nbsp;&nbsp;<span class="spancls">{{insurancetypeinput}}</span></h4></tr>
                                            <tr><h4 class="rtl">رقم التأمين:&nbsp;&nbsp;<span class="spancls">{{insurancenoinput}}</span></h4></tr>
                                            <tr><h4 class="rtl">نسخة التأمين:&nbsp;&nbsp;<span class="spancls"><i class="mdi mdi-camera-off" style="color:black;font-size: 22px;"></i> {{insurancecopyinput}}</span></h4></tr>
                                      
                                          </tbody>
                                        </table>
                                    </div>
                        </div>
                      </ng-template>
                      </ngb-tab>
                      <!-- ..................vehicle tab............ -->
                      <ngb-tab class="eachTabPane" id="vehicle">
                          <ng-template ngbTabTitle><b class="ltr">Vehicle</b>
                            <b class="rtl">مركبة</b></ng-template>
                          <ng-template ngbTabContent>
                              <div class="row">
                                  <div class="container">
                                      <table class="table table-hover table-bordered" cellspacing="2">
                                          <thead class="headrow">
                                              <th class="ltr">Vehicle</th>
                         <th class="rtl">مركبة</th>
                                              </thead>
                                              <tbody>
                                                  <tr><h4 class="ltr">Model Year:&nbsp;&nbsp;<span class="spancls"> {{modelyearinput}}</span></h4></tr>
                                                  <tr><h4 class="ltr">Make:&nbsp;&nbsp;<span class="spancls"> {{makeinput}}</span></h4></tr>
                                                  <tr><h4 class="ltr">Model:&nbsp;&nbsp;<span class="spancls"> {{modelinput}}</span></h4></tr>
                                                  <tr><h4 class="ltr">VIN Number:&nbsp;&nbsp;<span class="spancls"> {{vinnoinput}}</span></h4></tr>
                                                  <tr><h4 class="ltr">Miles:&nbsp;&nbsp;<span class="spancls">{{milesinput}}</span></h4></tr>
                                                  <tr><h4 class="ltr">Plate Number:&nbsp;&nbsp;<span class="spancls">{{platenoinput}}</span></h4></tr>
                                                  <tr><h4 class="ltr">Licence Number:&nbsp;&nbsp;<span class="spancls"> {{licencenoinput}}</span></h4></tr>
                                                  <tr><h4 class="ltr">Licence Expiration Date:&nbsp;&nbsp;<span class="spancls">{{licenceexdateinput}}</span></h4></tr>
                                                  <tr><h4 class="ltr">Licence Attachment:&nbsp;&nbsp;<span class="spancls"><i class="mdi mdi-camera-off" style="color:black;font-size: 22px;"></i>{{licenceattachementinput}}</span></h4></tr>
                                                  <tr><h4 class="ltr">Insurance Company:&nbsp;&nbsp;<span class="spancls">{{insurancecomptinput}}</span></h4></tr>
                                                  <tr><h4 class="ltr">Policy Number:&nbsp;&nbsp;<span class="spancls">{{plicynoinput}}</span></h4></tr>
                                                  <tr><h4 class="ltr">Expiration Date:&nbsp;&nbsp;<span class="spancls">{{exdateinput}}</span></h4></tr>
                                                  <tr><h4 class="ltr">Insurance Attachment:&nbsp;&nbsp;<span class="spancls"><i class="mdi mdi-camera-off" style="color:black;font-size: 22px;"></i>{{insuranceattachmentinput}}</span></h4></tr>
                                                  <tr><h4 class="ltr">Assign Date:&nbsp;&nbsp;<span class="spancls">{{assigndateinput}}</span></h4></tr>
                                                  <tr><h4 class="ltr">Return Date:&nbsp;&nbsp;<span class="spancls">{{returndateinput}}</span></h4></tr>
                                                  <tr><h4 class="ltr">Notes:&nbsp;&nbsp;<span class="spancls">{{notesinput}}</span></h4></tr>
                       
                          <tr><h4 class="rtl">سنة الصنع:&nbsp;&nbsp;<span class="spancls"> {{modelyearinput}}</span></h4></tr>
                                                  <tr><h4 class="rtl">يصنع:&nbsp;&nbsp;<span class="spancls"> {{makeinput}}</span></h4></tr>
                                                  <tr><h4 class="rtl">نموذج:&nbsp;&nbsp;<span class="spancls"> {{modelinput}}</span></h4></tr>
                                                  <tr><h4 class="rtl">رقم المركبة:&nbsp;&nbsp;<span class="spancls"> {{vinnoinput}}</span></h4></tr>
                                                  <tr><h4 class="rtl">اميال:&nbsp;&nbsp;<span class="spancls">{{milesinput}}</span></h4></tr>
                                                  <tr><h4 class="rtl">رقم لوحة:&nbsp;&nbsp;<span class="spancls">{{platenoinput}}</span></h4></tr>
                                                  <tr><h4 class="rtl">رقم الرخصة:&nbsp;&nbsp;<span class="spancls"> {{licencenoinput}}</span></h4></tr>
                                                  <tr><h4 class="rtl">تاريخ انتهاء الترخيص:&nbsp;&nbsp;<span class="spancls">{{licenceexdateinput}}</span></h4></tr>
                                                  <tr><h4 class="rtl">مرفق الترخيص:&nbsp;&nbsp;<span class="spancls"><i class="mdi mdi-camera-off" style="color:black;font-size: 22px;"></i>{{licenceattachementinput}}</span></h4></tr>
                                                  <tr><h4 class="rtl">شركة التأمين:&nbsp;&nbsp;<span class="spancls">{{insurancecomptinput}}</span></h4></tr>
                                                  <tr><h4 class="rtl">رقم مركز الشرطه:&nbsp;&nbsp;<span class="spancls">{{plicynoinput}}</span></h4></tr>
                                                  <tr><h4 class="rtl">تاريخ إنتهاء الصلاحية:&nbsp;&nbsp;<span class="spancls">{{exdateinput}}</span></h4></tr>
                                                  <tr><h4 class="rtl">مرفق التأمين:&nbsp;&nbsp;<span class="spancls"><i class="mdi mdi-camera-off" style="color:black;font-size: 22px;"></i>{{insuranceattachmentinput}}</span></h4></tr>
                                                  <tr><h4 class="rtl">تخصيص التاريخ:&nbsp;&nbsp;<span class="spancls">{{assigndateinput}}</span></h4></tr>
                                                  <tr><h4 class="rtl">تاريخ العودة:&nbsp;&nbsp;<span class="spancls">{{returndateinput}}</span></h4></tr>
                                                  <tr><h4 class="rtl">ملاحظات:&nbsp;&nbsp;<span class="spancls">{{notesinput}}</span></h4></tr>
                        
                                                </tbody>
                                              </table>
                                          </div>
                              </div>
                            </ng-template>
                            </ngb-tab>

              </ngb-tabset>
              </div>
              </form>
              </div>
              </div>
              </div>
              