<div class="row">
  <div class="col-md-12">
    <ul id="breadcrumb">
      <li><a class="nav-link" routerLink='/dashboard'><span class="fa fa-fw fa-home"> </span></a></li>
      <li class="ltr"><a class="nav-link" routerLink='/xray'> X - Ray</a></li>
      <!-- <li class="rtl"><a class="nav-link" routerLink='/Maininvoice'><span>ألتفاصيل النفقات</span></a></li> -->
    </ul>
  </div>
</div>
<form [formGroup]='productForm' (ngSubmit)="onSubmit()">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <p class="m-b-0 text-black ltr"> <i class="sl-icon-menu font-14"></i> &nbsp;X - Ray</p>
            <!-- <p class="m-b-0 text-black rtl"> <i class="sl-icon-menu font-14"></i> &nbsp;ألتفاصيل النفقات</p> -->
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-10">
                <label class="form-control-label ltr">Name *</label>
                <input type="text" class="form-control" formControlName="name"
                  [ngClass]="{' is-invalid':submitted && s.name.errors}">
                <span class="help-block" *ngIf="submitted && s.name.errors && s.name.errors.required"
                  style="color: red">
                  Name is Required
                </span>
              </div>
              <div class="col-md-2">
                <button class="btn btn-primary" (click)="insertdata()" style="width: 100%;">Save</button>
              </div>
            </div>
            <hr>
            <div align="left">
              <form class="form-inline waves-light" mdbWavesEffect>
                <div class="md-form mt-0" style="display:none;">
                  <input class="form-control mr-sm-2" type="text" placeholder="Search.....">
                </div>
              </form>
              <br>
              <br>
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th style="width: 114px;">Details</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let s of table ">
                    <td>{{s.Name}}</td>
                    <td>
                      <a style='color: #4798e8'>
                        <!-- <span class="fa fa-fw fa-plus" [routerLink]="['/productdetails']"
                          [queryParams]="{Name:s.GenericName,id:s.ID}">
                        </span>&nbsp;&nbsp;&nbsp; -->
                        <span class="fa fa-fw fa-eye" routerLink='/xraygrid'
                          [queryParams]="{id:s.ID}">
                        </span>&nbsp;&nbsp;&nbsp;
                        <span class='fa fa-fw fa-trash' (click)="delete(s.ID)"></span>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>