

<div class="preloader"  *ngIf="isPageloaderVisible">
  <div class="spinner">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>
</div>
<h4 class="ltr">Insurance Coverage Details</h4>
  <h4 class="rtl">تفاصيل تغطية التأمين</h4>




<div class="row">
  <div class="col-md-12">
      <ul id="breadcrumb">
          <li ><a class="nav-link" routerLink='/dashboard'><span class="fa fa-fw fa-home"> </span></a></li>
          <li class="ltr"><a class="nav-link"  routerLink='/settings'> Settings</a></li>
          <li class="ltr"><a class="nav-link">Insurance Coverage Details</a></li>
          <li class="rtl"><a class="nav-link"  routerLink='/settings'><span> إعدادات</span></a></li>
          <li class="rtl"><a class="nav-link"><span>تفاصيل تغطية التأمين</span></a></li>
      </ul>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      
      <div class="card-header">
        <h4 class="m-b-0 text-black ltr">
          <i class="sl-icon-menu font-14"></i> &nbsp;Insurance Coverage Details</h4>
        <h4 class="m-b-0 text-black rtl">
          <i class="sl-icon-menu font-14"></i> &nbsp;تفاصيل تغطية التأمين</h4>
      </div>

      <div class="container"> 
      
          <div class="text-right justify-content-between">
            
              <span class="ltr"> <a  class="nav-link" style="display: inline-block;" routerLink='/AddInsuranCoverage' ><i class="fa fa-fw fa-user"></i> Add</a></span>    
              <span class="rtl"> <a  class="nav-link" style="display: inline-block;" routerLink='/AddInsuranCoverage' ><i class="fa fa-fw fa-user"></i> إضافة</a></span>
            </div>
        
        </div>

      <div class="card-body">
       
        <div class="table-responsive">
          <table style="width: 100%;display: table" class="table table-hover table-responsive table-bordered"
            cellspacing="0">
            <thead class="headrow ltr">
              <tr>
                <th>Insurance Company Name</th>
                <th>Type</th>
                <th>Name</th>
                <th>Coverage Percentage</th>
                <th>Trans Date</th>
                <th>Edit</th>
              </tr>
            </thead>
            <thead class="headrow rtl">
              <tr>
                <th>اسم شركة التأمين</th>
                <th>نوع</th>
                <th>اسم</th>
                <th>نسبة التغطية</th>
                <th>تاريخ العملية</th>
                <th>تعديل</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let client of inscoverdetails">
                <td>{{client.Insurance_CompanyName}}</td>
                <td>{{client.Type}}</td>
                <td>{{client.Name}}</td>
                <td>{{client.Coverage_Per}}</td>
                <td>{{client.TransDate}}</td>
                <td style="display:flex;">
                  <span>
                    <a class="nav-link" [routerLink]="['/editInsuranCoverage']" [queryParams]="{insid:client.Sno}">
                      <i class="fa fa-pencil-alt text-info"></i>
                    </a>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>