
 

  
  <div class="container">
      <h2>Edit Doctor Fee</h2>
      
      <table class="table table-hover table-bordered" cellspacing="0">
        <thead>
          <tr class="tblrow">
           
            <th>Doctor Name</th>
            <th>Followup</th>
            <th>First Appointment</th>
             <th>Standart Appointment</th>
            <th>Third Appointment</th>
            <th>Treatments</th>
            
            <th>رابعا أبوانمنت</th>
          
          </tr>
        </thead>
        <tbody>
          <tr>
          
           <td>Roshanara</td>
            <td><input type="text" value="test" [(ngModel)]="val"></td>
            <td><input type="text" value="test" [(ngModel)]="val"></td>
            <td><input type="text" value="test" [(ngModel)]="val"></td>
            <td><input type="text" value="test" [(ngModel)]="val"></td>
            <td><input type="text" value="test" [(ngModel)]="val"></td>
            <td><input type="text" value="test" [(ngModel)]="val"></td>
            
            </tr>
        </tbody>
      </table>

      <div _ngcontent-c3="" class="col-md-12 text-center submitBtns">
          <button _ngcontent-c3="" class="btn btn-md btn-warning" type="submit" (click)="Submit()">
            <i _ngcontent-c3="" class="fa fa-check-circle"></i> Update</button>
  
            <button _ngcontent-c3="" class="btn btn-md btn-success" type="submit">
            <i _ngcontent-c3="" class="fa fa-ban"></i> Cancel</button></div>

      </div>
      
      