<div class="row">
    <div class="col-md-12">
        <ul id="breadcrumb">
            <li><a class="nav-link" routerLink='/dashboard'><span class="fa fa-fw fa-home"> </span></a></li>
            <li class="ltr"><a class="nav-link" routerLink='/xray'> X - Ray</a></li>
            <li class="ltr"><a class="nav-link"> X - Ray view</a></li>
        </ul>
    </div>
</div>
<form [formGroup]='productsviewForm'>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <p class="m-b-0 text-black ltr"> <i class="sl-icon-menu font-14"></i> &nbsp;X - Ray</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <lable>Name</lable>
                                    <input type="text" class="form-control" formControlName="name"
                                        [ngClass]="{' is-invalid':s.name.errors}">
                                    <span class="help-block"
                                        *ngIf="s.name.errors && s.name.errors.required" style="color: red">
                                        Name is Required
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-primary" (click)="updatedata()"
                                    style="width: 100%;">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>