<div class="preloader"  *ngIf="isPageloaderVisible">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
      </div>
      
      
      <h4 class="ltr">Edit Document Type</h4>
      <h4 class="rtl">تعديل نوع المستند</h4>

          <div class="row">
            <div class="col-md-12">
                <ul id="breadcrumb">
                    <li><a class="nav-link" routerLink='/dashboard'><span class="fa fa-fw fa-home"> </span></a></li>
                    <li class="ltr"><a class="nav-link"  routerLink='/settings'> Settings</a></li>
                    <li class="ltr"><a class="nav-link"  routerLink='/DocumentType'><span ></span>Document Type Details</a></li>
                    <li class="ltr"><a class="nav-link"> Edit Document Type</a></li>
                    <li class="rtl"><a class="nav-link"  routerLink='/settings'><span > إعدادات</span></a></li>
                    
                    <li class="rtl"><a class="nav-link"  routerLink='/DocumentType'><span >تفاصيل نوع المستند</span></a></li>
                    <li class="rtl"><a class="nav-link"><span>تعديل نوع المستند</span></a></li>
                   
                </ul>
            </div>
        </div>
<form [formGroup]="editdoctype">

<div class="row">
<div class="col-md-12 col-lg-12 col-xl-12">
  <div class="card">
        <div class="card-header">
                <h4 class="m-b-0 text-black ltr"> <i class="sl-icon-menu font-14"></i> &nbsp;Edit Document Type</h4>
                <h4 class="m-b-0 text-black rtl"> <i class="sl-icon-menu font-14"></i> &nbsp;تعديل نوع المستند</h4>
        </div>
      <div class="card-body">
         
          <div class="row">
            <div class="col-md-6" [ngClass]="{'has-error' : formErrors.documenttype}">
              <!-- <form class="m-t-0"> -->
                  <label class="form-control-label ltr">Document Type *</label>
                  <label class="form-control-label rtl">نوع المستند *</label>
                  <input type="text" class="form-control"  formControlName="documenttype"  (blur)="checkValidationErrors()">
                 
                  <span class="help-block errorcolorcls" *ngIf="formErrors.documenttype">
                    {{formErrors.documenttype}}
                  </span>
              <!-- </form> -->
          </div>
            
           <div class="col-md-6">
            <div class="form-group m-b-30" [ngClass]="{'has-error' : formErrors.status}">
                <label class="mr-sm-2 ltr" for="title">Status *</label>
                <label class="mr-sm-2 rtl" for="title">الحالة *</label>
                      <select value="Select" name="title" formControlName="status"  class="custom-select mr-sm-2 ltr" (blur)="checkValidationErrors()"> 
                        <option value="select" disabled>-- select --</option>
                        <option value="Active" >Active</option>
                        <option value="Inactive" >InActive</option>
                        <!-- <option *ngFor="let d of daysarr" [ngValue]="d.daysval">{{d.daysval}}</option> -->
                      </select>
                      <select value="Select" name="title" formControlName="status"  class="custom-select mr-sm-2 rtl" (blur)="checkValidationErrors()"> 
                            <option value="select" disabled>-- اختار --</option>
                        <option value="Active" >Active</option>
                        <option value="Inactive" >InActive</option>
                        <!-- <option *ngFor="let d of daysarr" [ngValue]="d.daysval">{{d.daysval}}</option> -->
                      </select>
                      <span class="help-block errorcolorcls" *ngIf="formErrors.status">
                        {{formErrors.status}}
                      </span>
                      
            </div>
        </div>
              </div>
              
                      <div class="row mt-5">
                          <div class="col-md-12 text-center submitBtns">
                              <button type="submit" class="btn btn-md btn-warning ltr" (click)="editoctypebmit()" style="margin-right:5px;">
                                  <i class ="fa fa-check-circle"></i>
                                   Update
                                   </button>
                              <button type="submit" class="btn btn-md btn-warning rtl" (click)="editoctypebmit()" >
                                  <i class ="fa fa-check-circle"></i>
                                  تحديث
                                   </button>
                              <button type="submit" class="btn btn-md btn-success ltr" (click)="editdoctypecancle()">
                                      <i class ="fa fa-ban"></i>
                                  Cancel</button>
                              <button type="submit" class="btn btn-md btn-success rtl" (click)="editdoctypecancle()" style="margin-right:5px;">
                                      <i class ="fa fa-ban"></i>
                                      إلغاء</button>
                          </div>
                      </div>
      </div>
  </div>
</div>
</div>



</form>