.switch-field input {
    position: absolute!important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden
}


.switch-field label {
    float: left;
    display: inline-block;
    width: 100px;
    max-width: 100%;
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, .6);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    text-shadow: none;
    padding: 6px 14px;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .3), 0 1px rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .3), 0 1px rgba(255, 255, 255, .1);
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out
}

.switch-field label:hover {
    cursor: pointer
}

.switch-field input:checked+label {
    background-color: #3587d8;
    color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none
}

.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px
}

.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0
}

.submitBtns button {
    min-width: 150px;
    margin: 0 15px;
}

.has-error {
    color: red;
}

.form-control {
    width: 300px;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid #e9ecef;
}

.card-body {
    padding: 0.75rem 1.25rem;
}

.fa-eye:before {
    color: #4a87ee;
}

.lnr-pencil:before {
    color: #4a87ee;
}

.has-error select {
    border: 1px solid red;
}

.has-error input {
    border: 1px solid red;
}

.table-hover th {
    background-color: #4a87ee;
    color: white
}

.text-info {
    cursor: pointer;
    color: #00897b !important;
}

.text-danger {
    cursor: pointer;
}

.btn {
    background-color: rgb(148, 191, 235);
    border: none;
    color: white;
    padding: 5px 8px;
    font-size: 14;
    cursor: pointer;
    margin-left: 8px;
}

.addgreen {
    color: white;
    background-color: #4a87ee;
}

.addorange {
    color: white;
    background-color: #fe9600;
    padding: 2px;
    font-size: 12px;
}

::ng-deep #dataTable_filter {
    text-align: right;
}

.fa-pencil-alt:before {
    content: "\f303";
    color: #4a87ee;
}

:host {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  }
  
  .text-center {
    text-align: left;
  }
  
  .list {
    max-width: 550px;
    margin: auto;
  }
  
  li {
    margin-bottom: 5px;
  }



  .current {
    color: green;
  }
  
  #pagin li {
    display: inline-block;
  }
  .no-data-available {
    text-align: center;
    }