

<div class="preloader" style="position:fixed;background:#fff;z-index:9;" *ngIf="isPageloaderVisible">
        <div class="spinner" style="margin: 100px auto !important;">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
    
    
      <h3 class="ltr">Edit Referral Discount</h3>
      <h3 class="rtl">تعديل خصم الإحالة</h3>

      <div class="container editcontainer"> 
            <div class="row">
                <div class="col-md-12">
                  
              <ul id="breadcrumb" class="aligncls">
                <li><a class="nav-link"  routerLink='/dashboard' ><span class="fa fa-fw fa-home"> </span></a></li>
                <li class="ltr"><a class="nav-link"  routerLink='/settings'> Settings</a></li>
                <li class="ltr"><a class="nav-link"  routerLink='/Referaldiscounts'><span ></span>Referral Discount Details</a></li>
                <li class="rtl"><a class="nav-link"  routerLink='/settings'><span> إعدادات</span></a></li>
                <li class="rtl"><a class="nav-link"  routerLink='/Referaldiscounts'><span ></span>تفاصيل خصم الاحالة</a></li>
            
              </ul>
            </div>
          </div>
          </div>

<form [formGroup]="editrefdis">

  <div class="row">
      <div class="col-md-12 col-lg-12 col-xl-12">
          <div class="card">
                <div class="card-header">
                        <h4 class="m-b-0 text-black ltr"> <i class="sl-icon-menu font-14"></i> &nbsp;Edit Referral Discount</h4>
                        <h4 class="m-b-0 text-black rtl"> <i class="sl-icon-menu font-14"></i> &nbsp;تعديل خصم الإحالة</h4>
                      </div>

              <div class="card-body">
                
                  <div class="row">
                         
                     <div class="col-md-4">
                      <div class="form-group m-b-30" [ngClass]="{'has-error' : formErrors.refname}">
                            <label class="mr-sm-2 ltr" for="title">Referal Name</label>
                            <label class="mr-sm-2 rtl" for="title">اسم الاحالة</label>
                             <select name="title" formControlName="refname" class="custom-select mr-sm-2 ltr" (blur)="checkValidationErrors()">
                                   <option  value="select" disabled>-- select --</option>
                                   <option *ngFor="let rnames of refnames" [ngValue]="rnames.Referral_ID">{{rnames.Company_Name}}</option>
  
                                 </select>
                             <select name="title" formControlName="refname" class="custom-select mr-sm-2 rtl" (blur)="checkValidationErrors()">
                                    <option  value="select" disabled>-- اختار --</option>
                                   <option *ngFor="let rnames of refnames" [ngValue]="rnames.Referral_ID">{{rnames.Company_Name}}</option>
  
                                 </select>
                                 <span class="help-block errorcolorcls" *ngIf="formErrors.refname">
                                   {{formErrors.refname}}
                                 </span>
                       </div>
               </div>
               <div class="col-md-4">
                  <div class="form-group m-b-30" [ngClass]="{'has-error' : formErrors.seltype}">
                        <label class="mr-sm-2 ltr" for="title">Type</label>
                        <label class="mr-sm-2 rtl" for="title">اكتب</label>
                            <select name="title" formControlName="seltype" (change)="typechange($event)" class="custom-select mr-sm-2 ltr" (blur)="checkValidationErrors()">
                               <option  value="select" disabled>-- select --</option>
                               <option *ngFor="let t of rdtype" [ngValue]="t.typeval">{{t.typename}}</option>
  
                             </select>
                            <select name="title" formControlName="seltype" (change)="typechange($event)" class="custom-select mr-sm-2 rtl" (blur)="checkValidationErrors()">
                                    <option  value="select" disabled>-- اختار --</option>
                               <option *ngFor="let t of rdtype" [ngValue]="t.typeval">{{t.typename}}</option>
  
                             </select>
                             <span class="help-block errorcolorcls" *ngIf="formErrors.seltype">
                               {{formErrors.seltype}}
                             </span>
                   </div>
           </div>
           <div class="col-md-4">
              <div class="form-group m-b-30" [ngClass]="{'has-error' : formErrors.rname}">
                    <label class="mr-sm-2 ltr" for="title">Name</label>
                    <label class="mr-sm-2 rtl" for="title">اسم</label>
                        <select name="title" formControlName="rname" class="custom-select mr-sm-2 ltr" (blur)="checkValidationErrors()">
                           <option  value="select" disabled>-- select --</option>
                           <option *ngFor="let t of typenames" [ngValue]="t.ID">{{t.Name}}</option>
  
                         </select>
                        <select name="title" formControlName="rname" class="custom-select mr-sm-2 rtl" (blur)="checkValidationErrors()">
                                <option  value="select" disabled>-- اختار --</option>
                           <option *ngFor="let t of typenames" [ngValue]="t.ID">{{t.Name}}</option>
  
                         </select>
                         <span class="help-block errorcolorcls" *ngIf="formErrors.rname">
                           {{formErrors.rname}}
                         </span>
               </div>
       </div>
                      </div>
                      <div class="row">
                          <div class="col-md-4" [ngClass]="{'has-error' : formErrors.discount}">
                              <!-- <form class="m-t-0"> -->
                                    <label class="form-control-label ltr">Discount Percentage</label>
                                    <label class="form-control-label rtl">نسبة الخصم</label>
                                  <input type="text"  (keypress)="keyPresspercent($event)" class="form-control"  formControlName="discount"  (blur)="checkValidationErrors()">
                                 
                                  <span class="help-block errorcolorcls" *ngIf="formErrors.discount">
                                    {{formErrors.discount}}
                                  </span>
                              <!-- </form> -->
                          </div>
                      </div>
                              <div class="row mt-5">
                                  <div class="col-md-12 text-center submitBtns">
                                      <button type="submit" class="btn btn-md btn-warning ltr" (click)="editreferaldiscountsubmit()" style="margin-right:5px;">
                                          <i class ="fa fa-check-circle"></i>
                                           Update </button>
                                      <button type="submit" class="btn btn-md btn-warning rtl" (click)="editreferaldiscountsubmit()" >
                                          <i class ="fa fa-check-circle"></i>
                                          تحديث </button>
                                      <button type="submit" class="btn btn-md btn-success ltr" (click)="editrefdiscountcancle()">
                                              <i class ="fa fa-ban"></i>
                                          Cancel</button>
                                      <button type="submit" class="btn btn-md btn-success rtl" (click)="editrefdiscountcancle()" style="margin-right:5px;">
                                              <i class ="fa fa-ban"></i>
                                              إلغاء</button>
                                  </div>
                              </div>
              </div>
          </div>
      </div>
  </div>
  
  </form>