<div class="preloader" *ngIf="isPageloaderVisible">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <ul id="breadcrumb">
            <li>
                <a class="nav-link" routerLink='/dashboard'>
                    <span class="fa fa-fw fa-home"> </span>
                </a>
            </li>
            <li class="ltr">
                <a class="nav-link"> Patient Summery</a>
            </li>
            <li class="rtl">
                <a class="nav-link">
                    <span>المنتجات</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <p class="m-b-0 text-black ltr">
                    <i class="sl-icon-menu font-14"></i> &nbsp;Products</p>
                <p class="m-b-0 text-black rtl">
                    <i class="sl-icon-menu font-14"></i> &nbsp;المنتجات</p>
            </div>
            <div class="card-body">
                <table class="table table-hover table-bordered" cellspacing="0">
                    <thead class="headrow">
                        <tr>
                            <th>Sno</th>
                            <th>Date</th>
                            <th>Patient Name</th>
                            <th>Doctor</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let i of PsummeryData;let j=index;">
                            <td>{{j+1}}</td>
                            <td>{{i.dt}}</td>
                            <td>{{i.PatientName}}</td>
                            <td>{{i.Doctor}}</td>
                            <td>
                                <a class="nav-link" style="color:cornflowerblue" >{{i.Actiondata}}</a>
                            </td>
                            <td>
                                <a class="nav-link" style="cursor: pointer;color:cornflowerblue" routerLink="/viewprescription" [queryParams]="{Appointment:i.AppointmentID,Patientid:i.PatientID,Pagename:'Pharmacy'}">View</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>