/* .justify-content-start{
    justify-content: flex-end !important;
}
.nav nav-tabs justify-content-start{
    justify-content: flex-end !important;

} */
.table-primary, .table-primary > th, .table-primary > td {
    background-color: transparent!important;
}
.table th, .table td {
    padding: 1rem;
    vertical-align: top;
    /* border-top: 1px solid #dee2e6; */
    /* border-right: 1px solid #dee2e6; */
    /* border-left: 1px solid #dee2e6; */
    /* border-bottom: 1px solid #dee2e6; */
    border: 1px solid #dee2e6;
}
tr:nth-child(even) {background-color: #F8F9F9;}
.table th{
    background-color: #F8F9F9;

}