.titles{
  color:gray;
  font-size: 15px;
  }
  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    background-color: lightgreen!important;
  }
  .nav-tabs {
    border-bottom: 1px solid white!important;
    background-color: darkblue!important;
    border: 1px solid white!important;
    color: white!important;
  }
  .dropdown {
      /* position: relative; */
      width: 100%;
  }
  .dropdown-toggle::after {
      margin-left: 14.255em;
  }
  .btn-outline-primary {
      color: gray;
      background-color: transparent;
      background-image: none;
      border-color: gray;
  }
  .form-control {
      border: 1px solid gray;
  }

  select[_ngcontent-c2] {
      text-transform: none;
      width: 100%;
      border-color: gray!important;
  }
  .custom-select {
      border-color: gray!important;
  }
  /* .table-primary, .table-primary > th, .table-primary > td {
      background-color: none!important;
  } */
  .table-primary, .table-primary > th, .table-primary > td {
      background-color: transparent!important;
  }
  .switch-field input{
    position:absolute!important;
    clip:rect(0,0,0,0);
    height:1px;
    width:1px;
    border:0;
    overflow:hidden
  }
  .switch-field label{
    float:left;
    display:inline-block;
    width:120px;
    max-width:100%;
    background-color:#e4e4e4;
    color:rgba(0,0,0,.6);
    font-size:14px;
    font-weight:400;
    text-align:center;
    text-shadow:none;
    padding:6px 14px;
    -webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,.3),0 1px rgba(255,255,255,.1);
    box-shadow:inset 0 1px 3px rgba(0,0,0,.3),0 1px rgba(255,255,255,.1);
    -webkit-transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;
    -ms-transition:all .1s ease-in-out;
    -o-transition:all .1s ease-in-out;
    transition:all .1s ease-in-out}.switch-field label:hover{cursor:pointer}.switch-field input:checked+label{background-color:#3587d8;color:#fff;-webkit-box-shadow:none;box-shadow:none}.switch-field label:first-of-type{border-radius:4px 0 0 4px}.switch-field label:last-of-type{border-radius:0 4px 4px 0}
 
    .fa.mystar{
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      font-size: 4px;
      color: red;
      position: absolute;
  }
  .form-control {
      border: 1px solid darkgray;
      background: #f2f2f2;
      border-radius: 8px;
  }
  .custom-select {
      border-color: darkgray!important;
      border-radius: 8px;
      /* background: #f2f2f2; */
  }
  #map {
    width: 100%;
    height: 200px;
    background-color: grey;
  }
  .headrow{
    background-color: #3587d8;
    color: white;
  }
  tr{
      border-bottom: 1px solid #F2F2F2;
  }
  /* h4, .h4 {
    font-size: 14px;
    padding: 10px;
  } */
  /* input[type=text] {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;

    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
  }
   
  input[type=text]:focus{
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);

    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(81, 203, 238, 1);
  } */