<div class="row">
  <div class="col-md-12">
    <ul id="breadcrumb">
      <li>
        <a class="nav-link" routerLink='/dashboard'>
          <span class="fa fa-fw fa-home"> </span>
        </a>
      </li>

      <li class="ltr">
        <a class="nav-link" routerLink='/Maininvoice'> Invoices</a>
      </li>
      <li class="rtl">
        <a class="nav-link" routerLink='/Maininvoice'>
          <span>الفواتير </span>
        </a>
      </li>
      <li class="ltr">
        <a class="nav-link" routerLink='/viewsellinvoice'> View Sell Invoices</a>
      </li>
      <li class="rtl">
        <a class="nav-link" routerLink='viewsellinvoice'>
          <span>فاتورة بيع </span>
        </a>
      </li>
    </ul>
  </div>
</div>

<form [formGroup]="InvoiveForm">
  <div class="row ">
    <div class="col-md-12 col-lg-12 col-xl-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <h3 class="card-title mt-4 ltr">View Sell Invoice</h3>
              <h3 class="card-title mt-4 rtl">عرض فاتورة بيع</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label class="form-control-label ltr">Code</label>
              <label class="form-control-label rtl">الكود</label>
              <input type="text" class="form-control" formControlName="FindID" (blur)="checkValidationErrors()"
                (keypress)="GetCodeData($event)" [attr.disabled]="invoicedetails.length == 0 ? null : 'true'">
            </div>
            <div class="col-md-3">
              <div class="form-group m-b-30">
                <label class="mr-sm-2 ltr" for="title">Store Name</label>
                <label class="mr-sm-2 rtl" for="title">إسم المخزن</label>
                <select value="Select" name="title" formControlName="Store_ID" (change)="StoresSelected($event)"
                  class="custom-select mr-sm-2" (blur)="checkValidationErrors()" *ngIf="langulagetype == 'AR'" disabled>
                  <option *ngFor="let i of Stores" [value]="i.ID">{{i.NameAr}}</option>
                </select>
                <select value="Select" name="title" formControlName="Store_ID" (change)="StoresSelected($event)"
                  class="custom-select mr-sm-2" (blur)="checkValidationErrors()" *ngIf="langulagetype == 'EN'" disabled>
                  <option *ngFor="let i of Stores" [value]="i.ID">{{i.NameEn}}</option>
                </select>
                <span class="help-block" *ngIf="formErrors.Store_ID" style="color: red">
                  {{formErrors.Store_ID}}
                </span>
              </div>
            </div>
            <div class="col-md-3">
              <label class="form-control-label ltr">Patient *</label>
              <label class="form-control-label rtl">المريض *</label>
              <input type="text" class="form-control" formControlName="CS_ID" (blur)="checkValidationErrors()"
                readonly>
            </div>
            <div class="col-md-3">
              <label class="form-control-label ltr">Invoice Date</label>
              <label class="form-control-label rtl">تاريخ الاصدار</label>
              <input [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3" placeholder="dd/mm/yyyy" class="form-control"
                formControlName="TrDate" (blur)="checkValidationErrors()" disabled>
              <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
              <span class="help-block errorcolorcls">
                {{formErrors.TrDate}}
              </span>
            </div>
            <div class="col-md-3">
              <label class="form-control-label ltr">Item Barcode *</label>
              <label class="form-control-label rtl">باركود المنتج *</label>
              <input type="text" class="form-control" formControlName="BarCode" (blur)="checkValidationErrors()"
                (keypress)="GetBarcodeData($event)" [attr.disabled]="invoicedetails.length == 0 ? 'true' : null">
            </div>
          </div>
          <br>
          <br>
          <!-- ---------------------------------Table started------------------------ -->
          <table class="table table-hover table-bordered responsive" id="dataTable" cellspacing="0" style="width:100% ">
            <thead>
              <tr class="headrow ltr">
                <th>#</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Dosage</th>
                <th>No Of Days</th>
                <th>Unit</th>
                <th>Quantity</th>
              </tr>
              <tr class="headrow rtl">
                <th>#</th>
                <th>إسم المنتج</th>
                <th>السعر</th>
                <th>الجرعة</th>
                <th>عدد الأيام</th>
                <th>الوحدة</th>
                <th>الكمية</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let i of invoicedetails.BuyInvoiceDetailsList; let j = index">
                <th>
                  <input type="checkbox" (click)="Mark($event, i)" id="Bar_{{i.BarCode}}">
                </th>
                <td>{{i.ProdName}}</td>
                <td style="text-align: center;">{{i.Price | number: '.2'}}</td>
                <td style="text-align: center;">{{i.Dosage}}</td>
                <td style="text-align: center;">{{i.NoOfDays}}</td>
                <td style="text-align: center;">{{i.UnitName}}</td>
                <td style="text-align: center;">{{i.Qty}}</td>
              </tr>
            </tbody>
          </table>

          <!-- ---------------------------------Table End------------------------ -->
          <br>
          <br>
          <div class="row">
            <div class="col-md-12">
              <label class="form-control-label ltr">Note</label>
              <label class="form-control-label rtl">ملاحظات</label>
              <textarea rows="3" class="form-control" formControlName="Notes"></textarea>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-3">
              <label class="form-control-label ltr">Invoice Discount</label>
              <label class="form-control-label rtl">خصم كلى</label>
              <input type="text" class="form-control" formControlName="InvoiceDiscount">
            </div>
            <div class="col-md-3">
              <label class="form-control-label ltr">Net</label>
              <label class="form-control-label rtl">الإجمالى</label>
              <input type="text" class="form-control" formControlName="InvNet">
            </div>
            <div class="col-md-3">
              <label class="form-control-label ltr">Paid</label>
              <label class="form-control-label rtl">المدفوع</label>
              <input type="text" class="form-control" formControlName="Paid">
            </div>
            <div class="col-md-3">
              <label class="form-control-label ltr">Remain</label>
              <label class="form-control-label rtl">المتبقى</label>
              <input type="text" class="form-control" readonly formControlName="Remain">
            </div>
          </div>
          <br>

        </div>
      </div>
    </div>
  </div>
</form>
<div class="row">
  <div class="col-md-12">
    <div class="col-md-12 text-center submitBtns">
      <button type="submit" class="btn btn-md btn-warning" (click)="invoicesubmit()" style="margin-right:5px;">
        <i class="fa fa-check-circle"></i>
        <span class="ltr"> &nbsp; Create</span>
        <span class="rtl"> &nbsp; إنشاء</span>
      </button>
      <button type="submit" class="btn btn-md btn-success" (click)="invoicecancle()">
        <i class="fa fa-ban"></i>
        <span class="ltr">&nbsp; Cancel</span>
        <span class="rtl">&nbsp; إلغاء</span>
      </button>
    </div>
  </div>
</div>