
<div class="preloader"  *ngIf="isPageloaderVisible">
  <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
  </div>
</div>



    <h4 class="ltr">Add Insurance Type</h4>
    <h4 class="rtl">إضافة نوع التأمين</h4>
  
    <div class="row">
      <div class="col-md-12">
          <ul id="breadcrumb">
              <li ><a class="nav-link" routerLink='/dashboard'><span class="fa fa-fw fa-home"> </span></a></li>
              <li class="ltr"><a class="nav-link"  routerLink='/settings'> Settings</a></li>
              <li class="ltr"><a class="nav-link" routerLink='/insuranceType'>Insurance Type Details</a></li>
              <li class="ltr"><a class="nav-link"> Add Insurance Type</a></li>
              <li class="rtl"><a class="nav-link"  routerLink='/settings'><span> إعدادات</span></a></li>
              <li class="rtl"><a class="nav-link"  routerLink='/insuranceType'><span >تفاصيل نوع التأمين</span></a></li>
              <li class="rtl"><a class="nav-link"><span>إضافة نوع التأمين</span></a></li>
          </ul>
      </div>
  </div>
<form [formGroup]="addinstype">

  <div class="row">
  <div class="col-md-12 col-lg-12 col-xl-12">
    <div class="card">
          <div class="card-header">
                  <h4 class="m-b-0 text-black ltr"> <i class="sl-icon-menu font-14"></i> &nbsp;Add Insurance Type</h4>
                  <h4 class="m-b-0 text-black rtl"> <i class="sl-icon-menu font-14"></i> &nbsp;إضافة نوع التأمين</h4>
                </div>
        <div class="card-body">
            
            <div class="row">
              <div class="col-md-6" [ngClass]="{'has-error' : formErrors.instype}">
                <!-- <form class="m-t-0"> -->
                  <label class="form-control-label ltr">Insurance Type&nbsp; *</label>
                  <label class="form-control-label rtl">اسم البنك&nbsp;*</label>
                  <input id="instype" formControlName="instype" [ngClass]="{'has-error' :formErrors.instype}"
                  (blur)="checkValidationErrors()" type="text" class="form-control">
                <span class="help-block" *ngIf="formErrors.instype" style="color: red">
                  {{formErrors.instype}}
                </span>
                <!-- </form> -->
            </div>
              
             <div class="col-md-6">
              <div class="form-group m-b-30" [ngClass]="{'has-error' : formErrors.status}">
                <label class="form-control-label ltr">Status&nbsp;*</label>
                <label class="form-control-label rtl">الحالة&nbsp;*</label>
                  
                <select formControlName="status" class="custom-select mr-sm-2 ltr" (blur)="checkValidationErrors()">
                  <option label="select" disabled></option>
                  <option value="Active">Active</option>
                  <option value="InActive">Inactive</option>
                </select>
                <select formControlName="status" class="custom-select mr-sm-2 rtl" (blur)="checkValidationErrors()">
                  <option label="تحديد" disabled></option>
                  <option value="Active">Active</option>
                  <option value="InActive">Inactive</option>
                </select>
                <span class="help-block" *ngIf="formErrors.status" style="color: red">
                  {{formErrors.status}}
                </span>
                        
              </div>
          </div>
                </div>
                
                        <div class="row mt-5">
                            <div class="col-md-12 text-center submitBtns">
                                <button type="submit" class="btn btn-md btn-warning ltr" (click)="addinstypesubmit()" style="margin-right:5px;">
                                    <i class ="fa fa-check-circle"></i>
                                     Submit </button>
                                <button type="submit" class="btn btn-md btn-warning rtl" (click)="addinstypesubmit()" >
                                    <i class ="fa fa-check-circle"></i>
                                    إرسل </button>
                                <button type="submit" class="btn btn-md btn-success ltr" [routerLink]="['/insuranceType']">
                                        <i class ="fa fa-ban"></i>
                                    Cancel</button>
                                <button type="submit" class="btn btn-md btn-success rtl" [routerLink]="['/insuranceType']" style="margin-right:5px;">
                                        <i class ="fa fa-ban"></i>
                                        إلغاء</button>
                            </div>
                        </div>
        </div>
    </div>
  </div>
  </div>
  
  
  
  </form>

