<button class="btn btn-info ltr" (click)="print()"><i class="icon-print icon-white i_btn"></i>Print</button>

<div id="element-to-print">
  <div class="container-fluid mb-4 mt-4">
    <div class="row">
      <div class="col-1">
        <div class="card mb-3">
          <div class="card-body p-1">
            <a href="#" class="btn btn-secondary btn-block btn-sm">2017</a>
            <a href="#" class="btn btn-secondary btn-block btn-sm mt-1">2018</a>
            <a href="#" class="btn btn-secondary btn-block btn-sm mt-1">2019</a>
          </div>
        </div>
        <div class="card">
          <div class="card-body p-1">
            <a href="#" class="btn btn-secondary btn-block btn-sm">January</a>
            <a href="#" class="btn btn-secondary btn-block btn-sm mt-1">Fabruary</a>
            <a href="#" class="btn btn-secondary btn-block btn-sm mt-1">March</a>
            <a href="#" class="btn btn-secondary btn-block btn-sm mt-1">April</a>
            <a href="#" class="btn btn-secondary btn-block btn-sm mt-1">May</a>
            <a href="#" class="btn btn-secondary btn-block btn-sm mt-1">June</a>
            <a href="#" class="btn btn-secondary btn-block btn-sm mt-1">July</a>
            <a href="#" class="btn btn-secondary btn-block btn-sm mt-1">August</a>
            <a href="#" class="btn btn-secondary btn-block btn-sm mt-1">Septemb</a>
            <a href="#" class="btn btn-secondary btn-block btn-sm mt-1">October</a>
            <a href="#" class="btn btn-secondary btn-block btn-sm mt-1">November</a>
            <a href="#" class="btn btn-secondary btn-block btn-sm mt-1">December</a>
          </div>
        </div>
      </div>
      <div class="col-11">
        <div class="row text-center mb-2">
          <div class="col-12 col-sm-3">
            <div class="card">
              <div class="card-body p-1 p-2">
                <h2 class="m-0">Doctotrs</h2>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-9">
            <div class="card">
              <div class="card-body p-1 p-2">
                <div class="row">
                  <div class="col-6 col-md-2 col-sm-4">
                    <div class="card">
                      <div class="card-header p-1 text-center">
                        Doctotr #1
                      </div>
                    </div>
                  </div>
                  <div class="col-6 col-md-2 col-sm-4">
                    <div class="card">
                      <div class="card-header p-1 text-center">
                        Doctotr #2
                      </div>
                    </div>
                  </div>
                  <div class="col-6 col-md-2 col-sm-4">
                    <div class="card">
                      <div class="card-header p-1 text-center">
                        Doctotr #3
                      </div>
                    </div>
                  </div>
                  <div class="col-6 col-md-2 col-sm-4">
                    <div class="card">
                      <div class="card-header p-1 text-center">
                        Doctotr #4
                      </div>
                    </div>
                  </div>
                  <div class="col-6 col-md-2 col-sm-4">
                    <div class="card">
                      <div class="card-header p-1 text-center">
                        Doctotr #5
                      </div>
                    </div>
                  </div>
                  <div class="col-6 col-md-2 col-sm-4">
                    <div class="card">
                      <div class="card-header p-1 text-center">
                        Doctotr #6
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-12 col-sm-4">
            <div class="card">
              <div class="card-body p-1">
                <div class="row mb-3">
                  <div class="col-7">
                    <img src="./assets/doctor.jpg" class="img-thumbnail">
                  </div>
                  <div class="col-5 text-center">
                    <div class="card mb-2">
                      <div class="card-body p-1">
                        <div class="pt-3 pb-1"></div>
                        <h4 class="m-0">Ahmad Fathy</h4>
                        <div class="pt-3 pb-1"></div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-body p-1">
                        <div class="pt-3 pb-1"></div>
                        <h4 class="m-0">Divinsion</h4>
                        <div class="pt-3 pb-1"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-center mb-3">
                  <h2>01234567890</h2>
                  <h3>abcdef@gmail.com</h3>
                </div>
                <div class="row mb-2 text-center">
                  <div class="col-6 col-sm-3">
                    <div class="card">
                      <div class="card-body p-1">
                        <h6 class="mt-2 mb-3">195</h6>
                        <small>Patients</small>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 col-sm-3">
                    <div class="card">
                      <div class="card-body p-1">
                        <h6 class="mt-2 mb-3">25</h6>
                        <small>InPatients</small>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 col-sm-3">
                    <div class="card">
                      <div class="card-body p-1">
                        <h6 class="mt-2 mb-3">169</h6>
                        <small>OutPatients</small>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 col-sm-3">
                    <div class="card">
                      <div class="card-body p-1">
                        <h6 class="mt-2 mb-3">1.3</h6>
                        <small>Avg Patients</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-body p-1">
                    <h6 class="text-center">Admission</h6>
                    <div style="display: block;">
                      <canvas baseChart height="245" [datasets]="lineChartData2" [labels]="lineChartLabels2"
                        [options]="lineChartOptions2" [colors]="lineChartColors2" [legend]="lineChartLegend2"
                        [chartType]="lineChartType2"></canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-4">
            <div class="card mb-2">
              <div class="card-body p-1">
                <h6 class="text-center">Average Of Wait Time</h6>
                <div style="display: block;">
                  <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                    [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
                    [plugins]="lineChartPlugins" (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
                </div>
              </div>
            </div>
            <div class="card mb-2">
              <div class="card-body p-1">
                <h6 class="text-center">Patients' Age</h6>
                <div>
                  <div>
                    <div style="display: block">
                      <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                        [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
                      </canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-body p-1">
                <h6 class="text-center">Patients' Gender</h6>
                <div>
                  <div>
                    <div class="chart">
                      <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                        [options]="pieChartOptions" [plugins]="pieChartPlugins" [colors]="pieChartColors"
                        [legend]="pieChartLegend">
                      </canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-4">
            <div class="card mb-2">
              <div class="card-body p-1">
                <h6 class="text-center">Treatment</h6>
                <div class="row">
                  <div class="col-6">
                    <div class="alert alert-info p-1 mb-2">
                      <h5 class="m-0">Treatment 1</h5>
                      <div class="pb-4"></div>
                      <h2 class="m-0">78</h2>
                    </div>
                    <div class="alert alert-warning p-1 mb-2">
                      <h5 class="m-0">Treatment 2</h5>
                      <div class="pb-4"></div>
                      <h2 class="m-0">55</h2>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="alert alert-danger p-1 mb-2">
                      <h6 class="m-0"><small>Treatment 3</small></h6>
                      <div class="pb-4"></div>
                      <div class="pb-4"></div>
                      <div class="pb-4"></div>
                      <div class="pb-4"></div>
                      <div class="pb-4"></div>
                      <div class="pb-3"></div>
                      <h2 class="m-0">73</h2>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="alert alert-secondary p-1 mb-2">
                      <h6 class="m-0"><small>Treatment 4</small></h6>
                      <div class="pb-4"></div>
                      <div class="pb-4"></div>
                      <div class="pb-4"></div>
                      <div class="pb-4"></div>
                      <div class="pb-4"></div>
                      <div class="pb-3"></div>
                      <h2 class="m-0">38</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-body p-1">
                <h6 class="text-center">Treatment Cost</h6>
                <div style="display: block;">
                  <canvas baseChart height="325" [datasets]="lineChartData1" [labels]="lineChartLabels1"
                    [options]="lineChartOptions1" [colors]="lineChartColors1" [legend]="lineChartLegend1"
                    [chartType]="lineChartType1"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>