<div class="preloader"  *ngIf="isPageloaderVisible">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
</div>
    
    
      <h3 class="ltr">Edit Treatment</h3>
      <h3 class="rtl">تعديل العلاج</h3>




  <div class="row">
    <div class="col-md-12">
        <ul id="breadcrumb">
            <li><a class="nav-link" routerLink='/dashboard'><span class="fa fa-fw fa-home"> </span></a></li>
            <li class="ltr"><a class="nav-link"  routerLink='/settings'> Settings</a></li>
            <li class="ltr"><a class="nav-link"  routerLink='/Treatment'><span ></span>Treatments</a></li>
            <li class="ltr"><a class="nav-link"> Edit Treatment</a></li>
            <li class="rtl"><a class="nav-link"  routerLink='/settings'><span > إعدادات</span></a></li>
            
            <li class="rtl"><a class="nav-link"  routerLink='/Treatment'><span >العلاجات</span></a></li>
            <li class="rtl"><a class="nav-link"><span>تعديل العلاج</span></a></li>
        </ul>
    </div>
</div>


  <form [formGroup]="addtreatment">

    <div class="row">
    <div class="col-md-12 col-lg-12 col-xl-12">
        <div class="card">
                <div class="card-header">
                        <h4 class="m-b-0 text-black ltr"> <i class="sl-icon-menu font-14"></i> &nbsp;Edit Treatment</h4>
                        <h4 class="m-b-0 text-black rtl"> <i class="sl-icon-menu font-14"></i> &nbsp;تعديل العلاج</h4>
                      </div>

            <div class="card-body">
                <div class="row">
                   <div class="col-md-4">
                    <div class="form-group m-b-30"  [ngClass]="{'has-error' : formErrors.treatname}">
                       
                            <label class="form-control-label ltr">Treatment Name *</label>
                            <label class="form-control-label rtl">اسم العلاج *</label>
                            <input type="text" class="form-control"  formControlName="treatname"  (blur)="checkValidationErrors()">
                           
                            <span class="help-block errorcolorcls" *ngIf="formErrors.treatname">
                              {{formErrors.treatname}}
                            </span>
                     
                    </div>
                   </div>

                   <div class="col-md-4">
                    <div class="form-group m-b-30"  [ngClass]="{'has-error' : formErrors.treatcode}">
                      
                            <label class="form-control-label ltr">Treatment Code *</label>
                                <label class="form-control-label rtl">رمز العلاج *</label>
                            <input type="text" class="form-control"  formControlName="treatcode"  (blur)="checkValidationErrors()">
                           
                            <span class="help-block errorcolorcls" *ngIf="formErrors.treatcode">
                              {{formErrors.treatcode}}
                            </span>
                       
                    </div>
                   </div>
                   
                <div class="col-md-4">
                    <div class="form-group m-b-30" [ngClass]="{'has-error' : formErrors.slottype}">
                            <label class="mr-sm-2 ltr" for="title">Slot Type *</label>
                            <label class="mr-sm-2 rtl" for="title">نوع الخانة *</label>
                        
                               <select value="Select" name="title" formControlName="slottype" class="custom-select mr-sm-2 ltr" (blur)="checkValidationErrors()"> 
                                    <option  value="select" disabled>-- select --</option>
                                    <option value="ManualSlot"> Manual Slot </option>
                                    <option value="FixedSlot"> Fixed Slot</option>
                               </select>
                               <select value="Select" name="title" formControlName="slottype" class="custom-select mr-sm-2 rtl" (blur)="checkValidationErrors()"> 
                                    <option  value="select" disabled>-- اختار --</option>
                                    <option value="ManualSlot"> Manual Slot </option>
                                    <option value="FixedSlot"> Fixed Slot</option>
                               </select>
                       
                               <span class="help-block errorcolorcls" *ngIf="formErrors.slottype">
                                 {{formErrors.slottype}}
                               </span>
                     </div>
                 </div>
        
                    </div>
                    <div class="row" *ngIf="showsitings">
                        <div class="col-md-4">
                            <div class="form-group m-b-30"  [ngClass]="{'has-error' : formErrors.nsittings}">
                                      
                                    <label class="form-control-label ltr">No.of sittings *</label>
                                    <label class="form-control-label rtl">عدد الاعدادات *</label>
                                <input type="text" class="form-control"  formControlName="nsittings"  (blur)="checkValidationErrors()">
                                           
                                <span class="help-block errorcolorcls" *ngIf="formErrors.nsittings">
                                    {{formErrors.nsittings}}
                                </span>
                                       
                            </div>
                        </div>
                        <div class="col-md-4">
                                <div class="form-group m-b-30" [ngClass]="{'has-error' : formErrors.repeat}">
                                        <label class="mr-sm-2 ltr" for="title">Repeat *</label>
                                        <label class="mr-sm-2 rtl" for="title">كرر *</label>
                                    
                                         <select value="Select" name="title" formControlName="repeat" class="custom-select mr-sm-2 ltr" (blur)="checkValidationErrors()"> 
                                                <option  value="select" disabled>-- select --</option>
                                                <option value="Daily"> Daily </option>
                                                <option value="Weekly">Weekly</option>
                                                <option value="Monthly">Monthly</option>
                                          </select>
                                         <select value="Select" name="title" formControlName="repeat" class="custom-select mr-sm-2 rtl" (blur)="checkValidationErrors()"> 
                                                <option  value="select" disabled>-- اختار --</option>
                                                <option value="Daily"> Daily </option>
                                                <option value="Weekly">Weekly</option>
                                                <option value="Monthly">Monthly</option>
                                          </select>
                                   
                                           <span class="help-block errorcolorcls" *ngIf="formErrors.repeat">
                                             {{formErrors.repeat}}
                                           </span>
                                 </div>
                             </div>
                     </div>
                    <div class="row">
                
           
                        <div class="col-md-4" [ngClass]="{'has-error' : formErrors.treat_duration}">
                       
                                <label class="form-control-label ltr"> Treatment Duration *</label>
                                <label class="form-control-label rtl">مدة العلاج *</label>
                              <input type="text" class="form-control"  formControlName="treat_duration"  (blur)="checkValidationErrors()">
                             
                              <span class="help-block errorcolorcls" *ngIf="formErrors.treat_duration">
                                {{formErrors.treat_duration}}
                              </span>
                          
                      </div>
<!--             
                      <input type="color" name="favcolor" [(ngModel)]="treat_color" value="Choose Color">
                      &nbsp;
                      <input type="text" [(ngModel)]="treat_color" ><br> -->
        

                      <!-- <div class="col-md-4" >
                        <label>Color*</label><br>
                        <input type="color" name="favcolor" [(ngModel)]="treat_color" value="Choose Color">
                        &nbsp;
                        <input type="text" [(ngModel)]="treat_color" ><br>
                        <div class="errmsg" [hidden]="colorhide">Color required.</div>
                  </div> -->

                  

                      <div class="col-md-4" [ngClass]="{'has-error' : formErrors.treat_cost}">
                       
                            <label class="form-control-label ltr">Treatment cost *</label>
                            <label class="form-control-label rtl">تكلفة العلاج *</label>
                            <input type="text" class="form-control"  formControlName="treat_cost"  (blur)="checkValidationErrors()">
                            <span class="help-block errorcolorcls" *ngIf="formErrors.treat_cost">
                              {{formErrors.treat_cost}}
                            </span>
                       
                    </div>
                    <div class="col-md-4">
                        <div class="form-group m-b-30" [ngClass]="{'has-error' : formErrors.treat_status}">
                                <label class="mr-sm-2 ltr" for="title">Status *</label>
                                <label class="mr-sm-2 rtl" for="title">الحالة *</label>
                            
                                   <select value="Select" name="title" formControlName="treat_status" class="custom-select mr-sm-2 ltr" (blur)="checkValidationErrors()"> 
                                        <option  value="select" disabled>-- select --</option>
                                        <option value="Active"> Active </option>
                                        <option value="InActive">InActive</option>
                                   </select>
                                   <select value="Select" name="title" formControlName="treat_status" class="custom-select mr-sm-2 rtl" (blur)="checkValidationErrors()"> 
                                        <option  value="select" disabled>-- اختار --</option>
                                        <option value="Active"> Active </option>
                                        <option value="InActive">InActive</option>
                                   </select>
                           
                                   <span class="help-block errorcolorcls" *ngIf="formErrors.treat_status">
                                     {{formErrors.treat_status}}
                                   </span>
                         </div>
                     </div>
              
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div  [ngClass]="{'has-error' : formErrors.treat_color}">
                             
                                    <label class="form-control-label ltr">Color *</label><br>
                                    <label class="form-control-label rtl">اللون *</label><br>
                                 
                                      <input type="color"style="float:left;margin-right:5px;"   class="form-control" placeholder="Choose color" formControlName="treat_color" (change)="changeColor()" (blur)="checkValidationErrors()">
                                
                                  {{colorcode}}
                                    <span class="help-block errorcolorcls" *ngIf="formErrors.treat_color">
                                    {{formErrors.treat_color}}
                                  </span>
                              </div>
      
                             
                          </div>
                    
                    </div> 
                            <div class="row mt-5">
                                <div class="col-md-12 text-center submitBtns">
                                    <button type="submit" class="btn btn-md btn-warning ltr" (click)="treatmentsubmit()" style="margin-right:5px;">
                                        <i class ="fa fa-check-circle"></i>
                                         Update </button>
                                    <button type="submit" class="btn btn-md btn-warning rtl" (click)="treatmentsubmit()">
                                        <i class ="fa fa-check-circle"></i>
                                        تحديث </button>
                                    <button type="submit" class="btn btn-md btn-success ltr" (click)="treatmentcancle()">
                                            <i class ="fa fa-ban"></i>
                                        Cancel</button>
                                    <button type="submit" class="btn btn-md btn-success rtl" (click)="treatmentcancle()" style="margin-right:5px;">
                                            <i class ="fa fa-ban"></i>
                                            إلغاء</button>
                                </div>
                            </div>
            </div>
        </div>
    </div>
    </div>
    </form>
  