<div class="row">
    <div class="col-md-12">
        <ul id="breadcrumb">
            <li><a class="nav-link" routerLink='/dashboard'><span class="fa fa-fw fa-home"> </span></a></li>
            <li class="ltr"><a class="nav-link" routerLink='/products'> Products</a></li>
            <li class="ltr"><a class="nav-link"> Productsview</a></li>
        </ul>
    </div>
</div>
<form [formGroup]='productsviewForm'>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <p class="m-b-0 text-black ltr"> <i class="sl-icon-menu font-14"></i> &nbsp;Products</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <lable>Generic name</lable>
                                    <input type="text" formControlName="genericname" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-primary" (click)="updatedata()"
                                    style="width: 100%;">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>