<div class="row">
  <div class="col-md-12">
    <ul id="breadcrumb">
      <li>
        <a class="nav-link" routerLink='/dashboard'>
          <span class="fa fa-fw fa-home"> </span>
        </a>
      </li>
      <li class="ltr">
        <a class="nav-link" routerLink='/Maininvoice'> Invoices</a>
      </li>
      <li class="rtl">
        <a class="nav-link" routerLink='/Maininvoice'>
          <span>الفواتير </span>
        </a>
      </li>
      <li class="ltr">
        <a class="nav-link" routerLink='/transferproduct'> Transfer Product's</a>
      </li>
      <li class="rtl">
        <a class="nav-link" routerLink='transferproduct'>
          <span>تحويل منتجات </span>
        </a>
      </li>
    </ul>
  </div>
</div>

<form [formGroup]="InvoiveForm">
  <div class="row ">
    <div class="col-md-12 col-lg-12 col-xl-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <h3 class="card-title mt-4 ltr">Transfer Product's</h3>
              <h3 class="card-title mt-4 rtl">تحويل منتجات</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group m-b-30">
                <label class="mr-sm-2 ltr" for="title">Store From Name</label>
                <label class="mr-sm-2 rtl" for="title">المخزن</label>
                <select value="Select" name="title" formControlName="StoreFrom" (change)="FromStoresSelected($event)"
                  class="custom-select mr-sm-2" (blur)="checkValidationErrors()" *ngIf="langulagetype == 'AR'">
                  <option *ngFor="let i of Stores" [value]="i.ID">{{i.NameAr}}</option>
                </select>
                <select value="Select" name="title" formControlName="StoreFrom" (change)="FromStoresSelected($event)"
                  class="custom-select mr-sm-2" (blur)="checkValidationErrors()" *ngIf="langulagetype == 'EN'">
                  <option *ngFor="let i of Stores" [value]="i.ID">{{i.NameEn}}</option>
                </select>
                <span class="help-block" *ngIf="formErrors.StoreFrom" style="color: red">
                  {{formErrors.StoreFrom}}
                </span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group m-b-30">
                <label class="mr-sm-2 ltr" for="title">Store To Name</label>
                <label class="mr-sm-2 rtl" for="title">المخزن</label>
                <select value="Select" name="title" formControlName="StoreTo" (change)="ToStoresSelected($event)"
                  class="custom-select mr-sm-2" (blur)="checkValidationErrors()" *ngIf="langulagetype == 'AR'">
                  <option *ngFor="let i of Stores" [value]="i.ID">{{i.NameAr}}</option>
                </select>
                <select value="Select" name="title" formControlName="StoreTo" (change)="ToStoresSelected($event)"
                  class="custom-select mr-sm-2" (blur)="checkValidationErrors()" *ngIf="langulagetype == 'EN'">
                  <option *ngFor="let i of Stores" [value]="i.ID">{{i.NameEn}}</option>
                </select>
                <span class="help-block" *ngIf="formErrors.StoreTo" style="color: red">
                  {{formErrors.StoreTo}}
                </span>
              </div>
            </div>
            <div class="col-md-4">
              <label class="form-control-label ltr">Transfer Date</label>
              <label class="form-control-label rtl">تاريخ التحويل</label>
              <input [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3" placeholder="dd/mm/yyyy" class="form-control"
                formControlName="TrDate" (blur)="checkValidationErrors()">
              <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
              <span class="help-block errorcolorcls">
                {{formErrors.TrDate}}
              </span>
            </div>
          </div>
          <br>
          <div class="row" formArrayName="StoreTransferDetailsList">
            <div class="row" formGroupName="0" style="width: 100%;">
              <div class="col-md-2">
                <label class="form-control-label ltr">Barcode</label>
                <label class="form-control-label rtl">الباركود</label>
                <input type="text" class="form-control" formControlName="Barcode" (keypress)="GetBarcodeData($event)">
              </div>
              <div class="col-md-4">
                <label class="form-control-label ltr">Product Name *</label>
                <label class="form-control-label rtl">إسم المنتج *</label>
                <input type="text" class="form-control" (keyup)="extractSuggestedTexts()" formControlName="ProdName"
                  (blur)="checkValidationArrayErrors(); out()">
                <div class="product-container" *ngIf="ShowAuto">
                  <div>
                    <div class="product" *ngFor="let p of suggestedTexts" (click)="SelectItem(p)">
                      <p *ngIf="langulagetype == 'AR'">
                        {{p.TradeNameAr}}
                      </p>
                      <p *ngIf="langulagetype == 'EN'">
                        {{p.TradeNameEng}}
                      </p>
                    </div>
                  </div>
                </div>
                <span class="help-block" *ngIf="formErrors.ProdName" style="color: red">
                  {{formErrors.ProdName}}
                </span>
              </div>
              <div class="col-md-4">
                <div class="form-group m-b-30">
                  <label class="mr-sm-2 ltr" for="title">Unit</label>
                  <label class="mr-sm-2 rtl" for="title">الوحدة</label>

                  <input type="text" class="form-control" (keyup)="extractSuggestedTexts()"
                    (blur)="checkValidationArrayErrors()" formControlName="UnitName" readonly>
                  <span class="help-block" *ngIf="formErrors.unit_id" style="color: red">
                    {{formErrors.unit_id}}
                  </span>
                </div>
              </div>
              <div class="col-md-2">
                <label class="form-control-label ltr">Quantity</label>
                <label class="form-control-label rtl">الكمية</label>
                <input type="text" class="form-control" formControlName="Qty" (blur)="checkValidationArrayErrors()">
                <span class="help-block errorcolorcls">
                  {{formErrors.Qty}}
                </span>
              </div>
              <div class="col-md-12" style="text-align: end; margin: 0 auto; margin-bottom: 25px;">
                <button type="submit" class="btn btn-md btn-primary" (click)="AddItem()"
                  style="margin: auto 0; margin-bottom: 0;">
                  <i class="fa fa-check-circle"></i>
                  <span class="ltr"> &nbsp; Add</span>
                  <span class="rtl"> &nbsp; إضافة</span>
                </button>
              </div>
            </div>
          </div>
          <!-- ---------------------------------Table started------------------------ -->
          <table class="table table-hover table-bordered responsive" id="dataTable" cellspacing="0" style="width:100% ">
            <thead>
              <tr class="headrow ltr">
                <th>Product Name</th>
                <th>Unit</th>
                <th>Quantity</th>
                <th style="width: 50px !important;"></th>
              </tr>
              <tr class="headrow rtl">
                <th>إسم المنتج</th>
                <th>الوحدة</th>
                <th>الكمية</th>
                <th style="width: 50px !important;"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let i of invoicedetails.StoreTransferDetailsList; let j = index">
                <td>{{i.ProdName}}</td>
                <td>{{i.UnitName}}</td>
                <td>{{i.Qty}}</td>
                <td style="display:flex;">
                  <span>
                    <a class="nav-link">
                      <i class="fa fa-fw fa-trash" style="color: red" (click)="removerow(i)"></i>
                    </a>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
          <!-- ---------------------------------Table End------------------------ -->
          <br>
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-12 text-center submitBtns">
                <button type="submit" class="btn btn-md btn-warning" (click)="invoicesubmit()"
                  style="margin-right:5px;">
                  <i class="fa fa-check-circle"></i>
                  <span class="ltr"> &nbsp; Create</span>
                  <span class="rtl"> &nbsp; إنشاء</span>
                </button>
                <button type="submit" class="btn btn-md btn-success" (click)="invoicecancle()">
                  <i class="fa fa-ban"></i>
                  <span class="ltr">&nbsp; Cancel</span>
                  <span class="rtl">&nbsp; إلغاء</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>