<div class="row">
  <div class="col-md-12">
    <ul id="breadcrumb">
      <li><a class="nav-link" routerLink='/dashboard'><span class="fa fa-fw fa-home"> </span></a></li>
      <li class="ltr"><a class="nav-link" routerLink='/laboratary'> Laboratary</a></li>
      <li class="ltr"><a class="nav-link" routerLink='/requestes'> Requestes</a></li>
      <!-- <li class="rtl"><a class="nav-link" routerLink='/Maininvoice'><span>ألتفاصيل النفقات</span></a></li> -->
    </ul>
  </div>
</div>
<form [formGroup]='productForm' (ngSubmit)="onSubmit()">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <p class="m-b-0 text-black ltr"> <i class="sl-icon-menu font-14"></i> &nbsp;requestes</p>
            <!-- <p class="m-b-0 text-black rtl"> <i class="sl-icon-menu font-14"></i> &nbsp;ألتفاصيل النفقات</p> -->
          </div>
          <div class="card-body">
            <div align="left">
              <form class="form-inline waves-light" mdbWavesEffect>
                <div class="md-form mt-0" style="display:none;">
                  <input class="form-control mr-sm-2" type="text" placeholder="Search.....">
                </div>
              </form>
              <br>
              <br>
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>patient Name</th>
                    <th>Doctor Name</th>
                    <th>Category NameAr</th>
                    <th>Category NameEng</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let s of table ">
                    <td>{{s.patient_Name}}</td>
                    <td>{{s.Doctor_Name}}</td>
                    <td>{{s.Category_NameAr}}</td>
                    <td>{{s.Category_NameEng}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>