<div class="row">
  <div class="col-md-12" style="text-align:center">
      <h4 style="word-spacing: 5px;" class="ltr">{{patient_name}}</h4>
      <h4 style="word-spacing: 5px;" class="rtl">{{patient_name}} </h4>
  </div>
</div>

<div class="col-md-12">
  <h4 class="ltr">Visit Note Details</h4>
  <h4 class="rtl">زيارة ملاحظة التفاصيل</h4>
</div>

<div class="row">
  <div class="col-md-12">
    <ul id="breadcrumb">
      <li>
        <a class="nav-link" routerLink='/dashboard'>
          <span class="fa fa-fw fa-home"> </span>
        </a>
      </li>
      <li class="ltr">
        <a class="nav-link"> Patient Details</a>
      </li>
      <li class="rtl">
        <a class="nav-link"><span>تفاصيل المريض</span></a>
      </li>
      <li class="ltr">
        <a class="nav-link" routerLink='/autocomplate'>Advanced Search</a>
      </li>
      <li class="rtl">
        <a class="nav-link" routerLink='/autocomplate'><span>البحث المتقدم</span></a>
      </li>
      <li class="ltr">
        <a class="nav-link" routerLink='/visitnote' [queryParams]="{Refrral:patientId}"> Visit Note Details </a>
      </li>
      <li class="rtl">
        <a class="nav-link" routerLink='/visitnote' [queryParams]="{Refrral:patientId}"><span>زيارة ملاحظة التفاصيل</span></a>
      </li>
      <li class="ltr">
        <a class="nav-link" routerLink='/viewvisitnote'>View Visit Notes</a>
      </li>
      <li class="rtl">
        <a class="nav-link" routerLink='/viewvisitnote'><span>عرض زيارة الملاحظات</span></a>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-3  pl-lg-4">
    <div class="card-header">
      <p class="m-b-0 text-black ltr">
        <i class="sl-icon-menu font-14"></i> &nbsp; Menu</p>
      <p class="m-b-0 text-black rtl">
        <i class="sl-icon-menu font-14"></i> &nbsp;القائمة</p>
    </div>
    <app-sidelinks></app-sidelinks>
  </div>

  <div class="col-md-9">
    <div class="card-header">
      <p class="m-b-0 text-black ltr">
        <i class="sl-icon-menu font-14"></i> &nbsp; Visit Notes</p>
      <p class="m-b-0 text-black rtl">
        <i class="sl-icon-menu font-14"></i> &nbsp;زيارة الملاحظات</p>
    </div>

    <div style="text-align: right !important">
      <button class=" btn btn-success ltr" (click)="print()">
        <i class="icon-print icon-white i_btn"></i>Print</button>
      <button class=" btn btn-success rtl" (click)="print()">
        <i class="icon-print icon-white i_btn"></i>طباعة</button>
    </div>

    <br>

    <div class="row" *ngFor="let patient of table1">
      <div class="col-md-4">
        <div>{{patient.Clinic_Name}}</div>
        <div class="mt-3">{{patient.Spl_Eng}}</div>
      </div>
      <div class="col-md-4">
        <div>
          <img class="img-responsive" src="assets/images/myimage.png">
        </div>
      </div>
      <div class="col-md-4">
        <div> {{patient.Ara_ClinicName}}</div>
        <div class="mt-3"> {{patient.Spl_Ara}}</div>
      </div>
    </div>

    <table class="table">
      <thead class="ltr">
        <tr>
          <th>File Number</th>
          <th>Arrival Date</th>
          <th>Doctor Name</th>
          <th>Patient Name</th>
          <th>Mobile No</th>
        </tr>
      </thead>
      <thead class="rtl">
        <tr>
          <th>رقم الملف</th>
          <th>تاريخ الوصول</th>
          <th>اسم الطبيب</th>
          <th>اسم المريض</th>
          <th>رقم الموبايل</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patient of table">
          <td>{{patient.PatientID}}</td>
          <td>{{patient.DOB}}</td>
          <td>{{patient.DoctorName}}</td>
          <td>{{patient.PatientName}}</td>
          <td>{{patient.Mobileno}}</td>
        </tr>
      </tbody>
    </table>

    <div class="row">
      <div class="col-md-9" *ngFor="let patient of table">
        <h6 class="text-center ltr">Note</h6>
        <h6 class="text-center rtl">ملحوظة</h6>
        <div style="border:1px #333 solid;min-height:235px;padding:20px;text-align: center"> {{patient.Notes}} </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4">
        <img src="http://account.oclinico.com/Forms/img/Inter-icon.png" class="imgcls"> {{website}} </div>
      <div class="col-md-4">
        <img src="http://account.oclinico.com/Forms/img/mail-icon.png" class="imgcls"> {{email}} </div>
      <div class="col-md-4">
        <img src="http://account.oclinico.com/Forms/img/phone-icon.png" class="imgcls"> {{phoneno}} </div>
    </div>
    <br>
  </div>
</div>


<div id="DivIdToPrint" style="display: none;">
  <div class="invoice-box">
    <table cellpadding="0" cellspacing="0">
      <tbody>
        <tr class="top">
          <td colspan="2">
            <table>
              <tbody>
                <tr>
                  <td style="text-align: center">
                    <img src="assets//images/invoice-log.png" style="width:100%; max-width:150px;">
                    <p style="font-size: 14px;
                              margin: 0px;
                              color: #005a85;
                              padding: 0;
                              position: relative;
                              top: -5px;
                              font-weight: bold;">المركز الطبي الجامعي</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>

        <tr class="information">
          <td colspan="4">
              <table>
                  <tbody>
                    <tr>
                      <td class="text-center">
                          <label>File Number</label>
                          <p>{{filenumber}}</p>
                      </td>
                      <td class="text-center">
                          <label>Arrival Date</label>
                          <p>{{dob}}</p>
                      </td>
                      <td class="text-center">
                          <label>Doctor Name</label>
                          <p>{{dname}}</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
          </td>
        </tr>
        <br><br>

        <tr class="information">
            <!-- <td colspan="1"> -->
                <table>
                    <tbody>
                      
                        <td class="text-center">
                            <label>Patient Name</label>
                            <p>{{pname}}</p>
                        </td>
                        <td class="text-center">
                            <label>Mobile Number</label>
                            <p>{{pmobile}}</p>
                        </td>
                        <td class="text-center">
                            <label></label>
                            <p></p>
                        </td>
                    
                    </tbody>
                </table>
            <!-- </td> -->
          </tr>
          <br><br>
          <tr class="information">
              <td colspan="12" class="text-center">
                <table>
                  <tbody>
                    <tr>
                      <td>
                        <label>Doctor Note</label>
                        <div style="border:1px #333 solid;min-height:235px;padding:20px;text-align: center">{{note}}</div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
          </tr>


        <tr class="bottom-line">
          <td colspan="3">
            <table>
              <tbody>
                <tr>
                  <td class="text-center">
                    <img src="http://account.oclinico.com/Forms/img/Inter-icon.png">
                    <span> {{website}}</span>
                  </td>
                  <td class="text-center">
                    <img src="http://account.oclinico.com/Forms/img/mail-icon.png">
                    <span> {{email}}</span>
                  </td>
                  <td class="text-center">
                    <img src="http://account.oclinico.com/Forms/img/phone-icon.png">
                    <span> {{phoneno}}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>