<section id="mySettings">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header bg-success text-white">
                    <span class="ltr">Patients</span>
                    <span class="rtl">المرضى</span>
                </div>
                <div class="card-body">
                    <ul>
                        <li class="ltr" routerLink="/ReferralMasterDetails"><span class="far fa-square"></span>Referral Masters</li>
                        <li class="rtl" routerLink="/ReferralMasterDetails"><span class="far fa-square"></span>إدارة الاحاله</li>

                        <li class="ltr" routerLink="/Referaldiscounts"><span class="far fa-square"></span>Referral Discounts</li>
                        <li class="rtl" routerLink="/Referaldiscounts"><span class="far fa-square"></span>تخفيضات الإحالة</li>

                        <li class="ltr" routerLink="/MainTemplate"><span class="far fa-square"></span>Letter Template</li>
                        <li class="rtl" routerLink="/MainTemplate"><span class="far fa-square"></span>نموذج خطاب</li>

                        <li class="ltr" routerLink="/MainLaboratory"><span class="far fa-square"></span>Laboratory Details</li>
                        <li class="rtl" routerLink="/MainLaboratory"><span class="far fa-square"></span>تفاصيل المختبر</li>

                        <li class="ltr" routerLink="/MainLaboratoryXray"><span class="far fa-square"></span>Xray Details</li>
                        <li class="rtl" routerLink="/MainLaboratoryXray"><span class="far fa-square"></span>تفاصيل الأشعة</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header bg-warning text-white">
                    <span class="ltr">Treatment</span>
                    <span class="rtl">العلاج</span>
                </div>
                <div class="card-body">
                    <ul>
                        <li class="ltr" routerLink="/Treatment"><span class="far fa-square"></span>Treatment</li>
                        <li class="rtl" routerLink="/Treatment"><span class="far fa-square"></span>العلاج</li>

                        <li class="ltr" routerLink="/DoctorTreatment"><span class="far fa-square"></span>Doctor Treatment</li>
                        <li class="rtl" routerLink="/DoctorTreatment"><span class="far fa-square"></span>وصفات العلاج للطبيب‎</li>

                        <li class="ltr" routerLink="/MachineDetails"><span class="far fa-square"></span>Machine Details</li>
                        <li class="rtl" routerLink="/MachineDetails"><span class="far fa-square"></span>الالآت/الاجهزة</li>

                        <li class="ltr" routerLink="/Treat_MachineDetails"><span class="far fa-square"></span>Treatment Machine Details</li>
                        <li class="rtl" routerLink="/Treat_MachineDetails"><span class="far fa-square"></span>تفاصيل الالات العلاج</li>

                        <li class="ltr" routerLink="/Doctorfee"><span class="far fa-square"></span>Doctor Fee</li>
                        <li class="rtl" routerLink="/Doctorfee"><span class="far fa-square"></span>رسوم الطبيب</li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header bg-info text-white">
                    <span class="ltr">Insurance</span>
                    <span class="rtl">التأمين</span>
                </div>
                <div class="card-body">
                    <ul>
                        <li class="ltr" routerLink="/insuranceType"><span class="far fa-square"></span>Insurance Type</li>
                        <li class="rtl" routerLink="/insuranceType"><span class="far fa-square"></span>نوع التأمين</li>

                        <li class="ltr" routerLink="/InsuranceCategoryDetails"><span class="far fa-square"></span>Insurance Category</li>
                        <li class="rtl" routerLink="/InsuranceCategoryDetails"><span class="far fa-square"></span>فئة التأمين</li>

                        <li class="ltr" routerLink="/InsuranceDetails"><span class="far fa-square"></span>Insurance Details</li>
                        <li class="rtl" routerLink="/InsuranceDetails"><span class="far fa-square"></span>تفاصيل التأمين</li>

                        <li class="ltr" routerLink="/InsuranCoverageDetails"><span class="far fa-square"></span>Insurance Coverage Details</li>
                        <li class="rtl" routerLink="/InsuranCoverageDetails"><span class="far fa-square"></span>تغطية التأمين‎</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-header bg-danger text-white">
                    <span class="ltr">Our Clinic</span>
                    <span class="rtl">عيادتنا</span>
                </div>
                <div class="card-body">
                    <ul>
                        <li class="ltr" routerLink="/generalsettings"><span class="far fa-square"></span> General Settings</li>
                        <li class="rtl" routerLink="/generalsettings"><span class="far fa-square"></span>الإعدادات العامة</li>
                        <li class="ltr" routerLink="/clinicinformation"><span class="far fa-square"></span>Clinic Information</li>
                        <li class="rtl" routerLink="/clinicinformation"><span class="far fa-square"></span>معلومات العيادة</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <span class="ltr">Appointments</span>
                    <span class="rtl">مواعيد</span>
                </div>
                <div class="card-body">
                    <ul>
                        <li class="ltr" routerLink="/slotdetails"><span class="far fa-square"></span> Slot Settings</li>
                        <li class="rtl" routerLink="/slotdetails"><span class="far fa-square"></span>إعدادات الخانة</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-header bg-info text-white">
                    <span class="ltr">Finances</span>
                    <span class="rtl">المالية</span>
                </div>
                <div class="card-body">
                    <ul>
                        <li class="ltr" routerLink="/MainFinanceDetail"><span class="far fa-square"></span>Finance</li>
                        <li class="rtl" routerLink="/MainFinanceDetail"><span class="far fa-square"></span>المالية</li>

                        <li class="ltr" routerLink="/Taxes"><span class="far fa-square"></span>Taxes</li>
                        <li class="rtl" routerLink="/Taxes"><span class="far fa-square"></span>الضرائب</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-header bg-cyan text-white">
                    <span class="ltr">Communication</span>
                    <span class="rtl">المراسلات</span>
                </div>
                <div class="card-body">
                    <ul>
                        <li class="ltr" routerLink="/Communication"><span class="far fa-square"></span>SMS & Email</li>
                        <li class="rtl" routerLink="/Communication"><span class="far fa-square"></span>الرسائل القصيرة والبريد الإلكتروني</li>

                        <li class="ltr" routerLink="/SMSpackages"><span class="far fa-square"></span>Clinic Packages</li>
                        <li class="rtl" routerLink="/SMSpackages"><span class="far fa-square"></span>باقات العيادة</li>
                    </ul>
                </div>
            </div>
        </div>




        <div class="col-md-3">
            <div class="card">
                <div class="card-header bg-warning text-white">
                    <span class="ltr">Bank</span>
                    <span class="rtl">بنك</span>
                </div>
                <div class="card-body">
                    <ul>
                        <li class="ltr" routerLink="/bankdetails"><span class="far fa-square"></span>Bank Master</li>
                        <li class="rtl" routerLink="/bankdetails"><span class="far fa-square"></span>نوع التأمين</li>

                        <li class="ltr" routerLink="/bankbranchdetails"><span class="far fa-square"></span>Bank Branch Master</li>
                        <li class="rtl" routerLink="/bankbranchdetails"><span class="far fa-square"></span>إدارة فرع البنك‎</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-header bg-danger text-white">
                    <span class="ltr">Masters</span>
                    <span class="rtl">الادارة‎</span>
                </div>
                <div class="card-body">
                    <ul>
                        <li class="ltr" routerLink="/DepartmentsDetails"><span class="far fa-square"></span>Departments Details</li>
                        <li class="rtl" routerLink="/DepartmentsDetails"><span class="far fa-square"></span>تفاصيل الإدارات/الاقسام‎ </li>

                        <li class="ltr" routerLink="/Specialization"><span class="far fa-square"></span>Specifications</li>
<li class="rtl" routerLink="/Specialization"><span class="far fa-square"></span>مواصفات </li>


                        <li class="ltr" routerLink="/ServiceMasterDetails"><span class="far fa-square"></span>Service Master</li>
                        <li class="rtl" routerLink="/ServiceMasterDetails"><span class="far fa-square"></span>إدارة الخدمات</li>

                        <li class="ltr" routerLink="/ClinicAddressDetails"><span class="far fa-square"></span>Add Arabic Address</li>
                        <li class="rtl" routerLink="/ClinicAddressDetails"><span class="far fa-square"></span>إضافة العنوان بالعربية‎</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <span class="ltr">Other Masters</span>
                    <span class="rtl">ادارات أخرى‎</span>
                </div>
                <div class="card-body">
                    <ul>
                        <li class="ltr" routerLink="/FollowUps"><span class="far fa-square"></span>Follow Ups</li>
                        <li class="rtl" routerLink="/FollowUps"><span class="far fa-square"></span>مراجعة (موعد)</li>

                        <li class="ltr" routerLink="/Occupations"><span class="far fa-square"></span>Occupations</li>
                        <li class="rtl" routerLink="/Occupations"><span class="far fa-square"></span>المهن/الوظائف‎</li>

                        <li class="ltr" routerLink="/NumberSettings"><span class="far fa-square"></span>Number Setings</li>
                        <li class="rtl" routerLink="/NumberSettings"><span class="far fa-square"></span>إعدادات الأرقام‎</li>

                        <li class="ltr" routerLink="/CashReceipts"><span class="far fa-square"></span>Cash Receipts</li>
                        <li class="rtl" routerLink="/CashReceipts"><span class="far fa-square"></span>الايصالات النقدية‎ </li>

                        <li class="ltr" routerLink="/DocumentType"><span class="far fa-square"></span>Document Type Details</li>
                        <li class="rtl" routerLink="/DocumentType"><span class="far fa-square"></span>تفاصيل نوع الوظيفة‎ </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>